table {
    border: 1px solid black;
    margin-bottom: 2em;
}

td {
    border: 1px dotted black;
}

.margin-under-navbar {
    margin-top: 3rem;
}

.jumbotron {
    background-color: rgba(0,0,0, 0.05);
}

.footer {
    background-color: rgba(0,0,0, 0.07);
}