{% macro dodavky_vakcin(supplies) -%}
<div class="table-responsive">
    <table class="table table-bordered table-striped table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center" style="width: 16%">Měsíc</th>
            {% for vyrobce in supplies.columns %}
            <th scope="col" class="text-center" style="width: 12%">{{ vyrobce }}</th>
            {% endfor %}
            <th scope="col" class="text-center" style="width: 12%">Celkem</th>
        </tr>
        </thead>
        <tbody>
        {% for mesic, row in supplies.iterrows() %}
        <tr>
            <td>{{ mesic.strftime('%B %Y') }}</td>
            {% for vyrobce in supplies.columns %}
            <td class="text-right">{{ row[vyrobce] | format_number }}</td>
            {% endfor %}
            <td class="text-right font-weight-bold">{{ row.sum() | format_number }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<p class="card-text font-italic">
    Zdroj: <a href="https://datastudio.google.com/embed/reporting/85df8158-a444-4e32-a525-7440ef7756f0/page/ApJ2B"
              target="_blank">Dodávky vakcín do ČR (Středočeský kraj)</a>.
</p>
{%- endmacro %}
