{% macro prehled_mist(centers, days) -%}
<div class="row">
    <div class="col">
        {% if centers %}
        <div class="table-responsive">
            <table id="centers-table" class="table table-bordered table-striped table-sm">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Název</th>
                    <th scope="col" class="text-center">Okres</th>
                    <th scope="col" class="text-center">Kraj</th>
                    <th scope="col" class="text-center">
                        Ve frontě
                        <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                           title="Počet registrovaných čekajících na rezervaci konkrétního termínu (přibližně odpovídá čekajícím na SMS s PIN2).">
                        </i>
                    </th>
                    <th scope="col" class="text-center">
                        Čekání na rezervaci
                        <i class="fas fa-exclamation-triangle" data-html="true" data-toggle="tooltip" data-placement="auto"
                           title="Průměrná doba mezi registrací a rezervací konkrétního termínu za posledních 7 dní (přibližně odpovídá čekání na SMS s PIN2).<br>Pokud přednost dostávají prioritní skupiny, odpovídá tento údaj spíše jejich čekání - ověřte si ve stavu registrací konkrétního očkovacího místa čekání pro vaši skupinu.<br>Červená (>2), žlutá (>1), zelená (>0).">
                        </i>
                    </th>
                    <th scope="col" class="text-center">
                        Naočkování registrovaných
                        <i class="fas fa-exclamation-triangle" data-html="true" data-toggle="tooltip"
                           data-placement="auto"
                           title="Odhadovaný počet týdnů potřebný k naočkování lidí ve frontě 1. dávkou při rychlostí očkování podle posledních 7 dnů. Data o očkování se doplňují zpětně a u nových míst chybí úplně, proto číslo berte jako orientační!<br>Červená (>4), žlutá (>2), zelená (>0).">
                        </i>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for item in centers %}
                <tr class="{{ 'table-warning' if not item.status }}">
                    <td><a href="{{ url_for('view.info_misto', misto_id=item.id) }}">{{ item.nazev }}</a></td>
                    <td>
                        {% if request.path.startswith('/okres') %}
                        {{ item.okres }}
                        {% else %}
                        <a href="{{ url_for('view.info_okres', okres_name=item.okres) }}">{{ item.okres }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if request.path.startswith('/kraj') %}
                        {{ item.kraj }}
                        {% else %}
                        <a href="{{ url_for('view.info_kraj', kraj_name=item.kraj) }}">{{ item.kraj }}</a>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {{ item.registrace_fronta | format_number }}
                    </td>
                    <td class="text-center">
                        <span class="badge badge-pill badge-{{ 'light' if item.registrace_prumer_cekani == None else 'success' if item.registrace_prumer_cekani <= 7 else 'warning' if item.registrace_prumer_cekani <= 14 else 'danger' }}">
                            {{ (None if item.registrace_prumer_cekani == None else (item.registrace_prumer_cekani / 7)) | format_decimal }} {{ 'týdne' if item.registrace_prumer_cekani != None }}
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="badge badge-pill badge-{{ 'light' if item.ockovani_odhad_cekani == None else 'success' if item.ockovani_odhad_cekani <= 14 else 'warning' if item.ockovani_odhad_cekani <= 28 else 'danger' }}">
                            {{ (None if item.ockovani_odhad_cekani == None else (item.ockovani_odhad_cekani / 7)) | format_decimal }} {{ 'týdne' if item.ockovani_odhad_cekani != None }}
                        </span>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <p class="font-italic">
            Oranžově jsou vyznačena očkovací místa, která jsou v&nbsp;současnosti skryta v rezervačním systému, ale zároveň jsou na nich čekající ve frontě nebo s&nbsp;rezervací.
        </p>
        {% else %}
        <div class="alert alert-warning w-100" role="alert">
            Zatím nemáme žádná data.
        </div>
        {% endif %}
    </div>
</div>
{%- endmacro %}
