{% macro ockovaci_mista_bez_registrace(without_registration) -%}

<div class="table-responsive">
    <table id="places-table" class="table table-bordered table-striped table-sm" style="table-layout: fixed">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center col-sortable w-30">Název</th>
            <th scope="col" class="text-center col-sortable w-20">Kraj</th>
            <th scope="col" class="text-center col-sortable w-20">Vakcíny</th>
            <!-- <th scope="col" class="text-center col-sortable w-20">Adresa</th>-->
            <th scope="col" class="text-center w-20">Otvírací doba</th>
            <th scope="col" class="text-center w-20">Web</th>
            <th scope="col" class="text-center w-20">Telefon</th>
            <!-- <th scope="col" class="text-center w-20">Stav fronty</th> -->
        </tr>
        </thead>
        <tbody>
        {% for item in without_registration %}
        <tr>
            <td class="ellipsis" data-placement="auto" data-toggle="tooltip" data-value="{{ item.nazev }}" title="{{ item.nazev }}">{{ item.nazev
                }}
            </td>
            <td class="ellipsis" data-placement="auto" data-toggle="tooltip" data-value="{{ item.kraj }}" title="{{ item.kraj }}">{{ item.kraj
                }}
            </td>
            <td class="ellipsis" data-placement="auto" data-toggle="tooltip" data-value="{{ item.pouzite_vakciny }}" title="{{ item.pouzite_vakciny }}">{{
                item.pouzite_vakciny }}
            </td>
            <!--<td class="ellipsis" data-placement="auto" data-toggle="tooltip" data-value="{{ item.adresa }}" title="{{ item.adresa }}">{{
                item.adresa }}
            </td>-->
            <td class="ellipsis" data-placement="auto" data-toggle="tooltip" title="{{ item.otviraci_doba }}">{{
                item.otviraci_doba }}
            </td>
            <td class="ellipsis" data-placement="auto" data-toggle="tooltip" title="{{ item.web }}"><a
                    href="{{ item.web }}" target="_blank">link</a></td>
            <td class="ellipsis" data-placement="auto" data-toggle="tooltip" title="{{ item.kontakt_tel }}">{{
                item.kontakt_tel }}
            </td>
            <!-- <td class="ellipsis" data-placement="auto" data-toggle="tooltip" title="">x</td> -->
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<p class="card-text font-italic text-justify mb-0">
    Oranžově jsou vyznačena zdravotnická zařízení, která ukončila očkování. Data pochází z otevřených zdrojů a https://covid.gov.cz/situace/registrace-na-ockovani/ockovani-bez-predchozi-registrace
</p>

<script>
    $(document).ready(function () {
        const stripAccents = x => x.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
        $("#places-searchbox").on("keyup", function () {
            var value = stripAccents($(this).val().toLowerCase());
            $("#places-table tbody tr").filter(function () {
                $(this).toggle(stripAccents($(this).text().toLowerCase()).indexOf(value) > -1)
            });
            $("#places-table tbody tr:visible").each(function (index) {
                $(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,0)" : "rgba(0,0,0,.05)");
            });
        });
    });
</script>
{%- endmacro %}
