{% macro stav_ockovani_praktici(data, kraj_options, vaccines_options) -%}

<div class="form-row">
    <div class="col-12 col-lg-6 mb-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search fa-fw"></i></span>
            </div>
            <input id="doctors-searchbox" type="text" class="form-control" placeholder="Hledat...">
        </div>
    </div>
    <div class="col mb-3">
        <select id="doctors-kraj" class="custom-select">
            <option value="">Všechny kraje</option>
            {% for option in kraj_options %}
            <option value="{{ option[1] }}">{{ option[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col mb-3">
        <select id="doctors-vaccine" class="custom-select">
            <option value="">Všechny vakcíny</option>
            {% for option in vaccines_options %}
            <option value="{{ option[0] }}">{{ option[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-auto mb-3">
        <div class="custom-control custom-switch" style="display: inline-block">
            <input id="doctors-children" type="checkbox" class="custom-control-input">
            <label class="custom-control-label" for="doctors-children">pediatři</label>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table id="doctors-table" class="table table-bordered table-striped table-sm" style="table-layout: fixed">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center col-sortable w-30">Název zařízení</th>
            <th scope="col" class="text-center col-sortable w-20">Okres</th>
            <th scope="col" class="text-center col-sortable w-10">Pediatr</th>
            <th scope="col" class="text-center w-20">
                Vakcíny
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Vakcíny očkované za posledních 7 dní.">
                </i>
            </th>
            <th scope="col" class="text-center col-sortable w-10">
                Očkováno
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Počet podaných dávek vakcíny.">
                </i>
            </th>
            <th scope="col" class="text-center col-sortable w-10">
                Očkováno za<br>7 dní
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Počet podaných dávek vakcíny za posledních 7 dní.">
                </i>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for idx, row in data.iterrows() %}
        <tr class="{{ 'table-warning' if row.provoz_ukoncen }}" data-kraj="{{ row.kraj_id }}"
            data-vaccine="{{ row.vakciny }}" data-children="{{ row.pediatr }}">
            <td class="ellipsis" data-value="{{ row.zarizeni_nazev }}" data-toggle="tooltip" data-placement="auto"
                title="{{ row.zarizeni_nazev }}">
                {% if row.nabidky > 0 %}
                <a href="{{ url_for('view.praktik_detail', zarizeni_kod=row.zdravotnicke_zarizeni_kod) }}">
                    {{ row.zarizeni_nazev }}
                </a>
                {% else %}
                {{ row.zarizeni_nazev }}
                {% endif %}
            </td>
            <td data-value="{{ row.okres }}" data-toggle="tooltip" data-placement="auto">{{ row.okres }}</td>
            <td data-value="{{ row.pediatr }}">{{ row.pediatr | format_bool }}</td>
            <td>{{ row.vakciny }}</td>
            <td class="text-right" data-value="{{ row.ockovano }}">{{ row.ockovano | format_number }}</td>
            <td class="text-right" data-value="{{ row.ockovano_7 }}">{{ row.ockovano_7 | format_number }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot class="font-weight-bold">
        <tr>
            <td colspan="4">Celkem</td>
            <td class="text-right">
                {{ data.drop(columns=['pediatr']).drop_duplicates()['ockovano'].sum() | format_number }}
            </td>
            <td class="text-right">
                {{ data.drop(columns=['pediatr']).drop_duplicates()['ockovano_7'].sum() | format_number }}
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<p class="card-text font-italic text-justify mb-0">
    Oranžově jsou vyznačena zdravotnická zařízení, která ukončila očkování.
</p>

<script>
    function filterChanged() {
        const stripAccents = x => x.normalize("NFD").replace(/[\u0300-\u036f]/g, "");

        const searchValue = stripAccents($("#doctors-searchbox").val().toLowerCase());
        const krajValue = $("#doctors-kraj").val();
        const vaccineValue = $("#doctors-vaccine").val();
        const childrenValue = $("#doctors-children")[0].checked;

        $("#doctors-table tbody tr").filter(function() {
            const normalized = stripAccents($(this).text().toLowerCase());
            const kraj = $(this)[0].dataset.kraj;
            const vaccine = $(this)[0].dataset.vaccine;
            const children = $(this)[0].dataset.children;

            $(this).toggle(
                normalized.indexOf(searchValue) > -1
                && (!krajValue || kraj === krajValue)
                && (!vaccineValue || vaccine.indexOf(vaccineValue) > -1)
                && (!childrenValue || children === 'True')
            )
        });

        $("#doctors-table tbody tr:visible").each(function (index) {
            $(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,0)"  : "rgba(0,0,0,.05)");
        });
    }

    $(document).ready(function(){
        $("#doctors-searchbox").on("keyup", function() {
            filterChanged();
        });
        $("#doctors-kraj").change(function () {
            filterChanged();
        });
        $("#doctors-vaccine").change(function () {
            filterChanged();
        });
        $("#doctors-children").change(function () {
            filterChanged();
        });
    });
</script>
{%- endmacro %}
