{% from 'macros/common.html' import stitek %}

{% macro prehled_mist(centers, third_doses_centers, vaccine_options, kraj_options=None, okres_mode=False, kraj_mode=False) -%}
<div class="form-row">
    <div class="col-12 col-lg-6 col-md-auto mb-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search fa-fw"></i></span>
            </div>
            <input id="centers-searchbox" type="text" class="form-control" placeholder="Hledat...">
        </div>
    </div>
    {% if not (okres_mode or kraj_mode) %}
    <div class="col mb-2">
        <select id="centers-kraj" class="custom-select">
            <option value="">Všechny kraje</option>
            {% for option in kraj_options %}
            <option value="{{ option[1] }}">{{ option[0] }}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
    <div class="col mb-2">
        <select id="centers-vaccine" class="custom-select">
            <option value="">Všechny vakcíny</option>
            {% for option in vaccine_options %}
            <option value="{{ option[0] }}">{{ option[0] }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="form-row mb-2">
    <div class="col-12 col-md-6 col-lg-auto text-center mb-1 mr-auto">
        <div class="custom-control custom-switch mr-2" style="display: inline-block">
            <input id="centers-5" type="checkbox" class="custom-control-input">
            <label class="custom-control-label" for="centers-5">5-15</label>
        </div>
        <div class="custom-control custom-switch mr-2" style="display: inline-block">
            <input id="centers-16" type="checkbox" class="custom-control-input">
            <label class="custom-control-label" for="centers-16">16-17</label>
        </div>
        <div class="custom-control custom-switch" style="display: inline-block">
            <input id="centers-18" type="checkbox" class="custom-control-input" checked>
            <label class="custom-control-label" for="centers-18">18+</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-auto text-center mb-1 mr-auto">
        <div class="custom-control custom-switch mr-2" style="display: inline-block">
            <input id="centers-walkin" type="checkbox" class="custom-control-input" >
            <label class="custom-control-label" for="centers-walkin">bez registrace</label>
        </div>
        <div class="custom-control custom-switch" style="display: inline-block">
            <input id="centers-selfpaid" type="checkbox" class="custom-control-input" >
            <label class="custom-control-label" for="centers-selfpaid">samoplátci</label>
        </div>
    </div>
    <div class="col-12 col-lg-auto text-center mb-1">
        <div class="custom-control custom-switch mr-2" style="display: inline-block">
            <input id="centers-active" type="checkbox" class="custom-control-input" checked>
            <label class="custom-control-label" for="centers-active">aktivní</label>
        </div>
        <div class="custom-control custom-switch mr-2" style="display: inline-block">
            <input id="centers-thirddoses" type="checkbox" class="custom-control-input" >
            <label class="custom-control-label" for="centers-thirddoses">3. dávky</label>
        </div>
        <div class="custom-control custom-switch" style="display: inline-block">
            <input id="centers-barrierfree" type="checkbox" class="custom-control-input">
            <label class="custom-control-label" for="centers-barrierfree">bezbariérová</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        {% if centers %}
        <div class="table-responsive">
            <table id="centers-table" class="table table-bordered table-striped table-sm">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center col-sortable">Název</th>
                    {% if not okres_mode %}
                    <th scope="col" class="text-center col-sortable">Okres</th>
                    {% endif %}
                    {% if not kraj_mode %}
                    <th scope="col" class="text-center col-sortable">Kraj</th>
                    {% endif %}
                    <th scope="col" class="text-center col-sortable">
                        Ve frontě
                        <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                           title="Počet registrovaných bez rezervovaného termínu.">
                        </i>
                    </th>
                    <th scope="col" class="text-center col-sortable">
                        Před závorou
                        <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                           title="Počet registrovaných čekajících na možnost rezervace konkrétního termínu.">
                        </i>
                    </th>
                    <th scope="col" class="text-center col-sortable">
                        Čekání na rezervaci
                        <i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="auto"
                           data-html="true"
                           title="Průměrná doba mezi registrací a rezervací konkrétního termínu za posledních 7 dní (přibližně odpovídá čekání na možnost výběru termínu).<br>Registrace na 1. a 3. dávku mohou mít různou prioritu.<br>Pro výpočet používáme jen registrace vytvořené před 90 dny a novější.<br>Červená (>2), žlutá (>1), zelená (>0).">
                        </i>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for item in centers %}
                <tr class="{{ 'table-warning' if not item.status and item.typ != 'WALKIN' }}"
                    data-kraj="{{ item.kraj_id }}"
                    data-vaccines='{{ item.vakciny | tojson | safe }}'
                    data-age='{{ item.vekove_skupiny | tojson | safe }}'
                    data-walkin="{{ item.typ == 'WALKIN' }}"
                    data-selfpaid="{{ item.typ == 'SMPL' }}"
                    data-thirddoses="{{ item.id in third_doses_centers or 3 in item.davky }}"
                    data-active="{{ item.status or item.typ == 'WALKIN' }}"
                    data-barrierfree="{{ item.bezbarierovy_pristup }}">
                    <td data-value="{{ item.nazev }}">
                        <a href="{{ url_for('view.misto_detail', misto_id=item.id) }}">{{ item.nazev }}</a>
                    </td>
                    {% if not okres_mode %}
                    <td data-value="{{ item.okres }}">
                        {% if item.okres %}
                            <a href="{{ url_for('view.okres_detail', okres_name=item.okres) }}">{{ item.okres }}</a>
                        {% endif %}
                    </td>
                    {% endif %}
                    {% if not kraj_mode %}
                    <td data-value="{{ item.kraj }}">
                        {% if item.kraj %}
                            <a href="{{ url_for('view.kraj_detail', kraj_name=item.kraj) }}">{{ item.kraj }}</a>
                        {% endif %}
                    </td>
                    {% endif %}
                    <td class="text-right" data-value="{{ item.registrace_fronta }}">
                        {{ item.registrace_fronta | format_number }}
                    </td>
                    <td class="text-right" data-value="{{ item.registrace_pred_zavorou }}">
                        {{ item.registrace_pred_zavorou | format_number }}
                    </td>
                    <td class="text-center" data-value="{{ item.registrace_prumer_cekani }}">
                        {{ stitek(item.registrace_prumer_cekani, decimal=True, unit='týdne', unit_short='t', divide=7,
                        rev_color=True, limits=(1, 2)) }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <p class="font-italic text-justify mb-0">
            Oranžově jsou vyznačena očkovací místa, která jsou v&nbsp;současnosti skryta v rezervačním systému, ale
            zároveň jsou na nich čekající ve frontě nebo s&nbsp;rezervací.
        </p>
        {% else %}
        <div class="alert alert-warning w-100" role="alert">
            Zatím nemáme žádná data.
        </div>
        {% endif %}
    </div>
</div>

<script>
    function centersFilterChanged() {
        const stripAccents = x => x.normalize("NFD").replace(/[\u0300-\u036f]/g, "");

        const searchValue = stripAccents($("#centers-searchbox").val().toLowerCase());
        const krajValue = $("#centers-kraj").val();
        const vaccineValue = $("#centers-vaccine").val();
        const age5Value = $("#centers-5")[0].checked;
        const age16Value = $("#centers-16")[0].checked;
        const age18Value = $("#centers-18")[0].checked;
        const walkinValue = $("#centers-walkin")[0].checked;
        const selfpaidValue = $("#centers-selfpaid")[0].checked;
        const thirddosesValue = $("#centers-thirddoses")[0].checked;
        const activeValue = $("#centers-active")[0].checked;
        const barrierfreeValue = $("#centers-barrierfree")[0].checked;

        $("#centers-table tbody tr").filter(function () {
            const normalized = stripAccents($(this).text().toLowerCase());
            const kraj = $(this)[0].dataset.kraj;
            const vaccines = JSON.parse($(this)[0].dataset.vaccines);
            const age = JSON.parse($(this)[0].dataset.age);
            const age5 = age.includes('5-15');
            const age16 = age.includes('16-17');
            const age18 = age.includes('18+') || !age.length;
            const walkin = $(this)[0].dataset.walkin;
            const selfpaid = $(this)[0].dataset.selfpaid;
            const thirddoses = $(this)[0].dataset.thirddoses;
            const active = $(this)[0].dataset.active;
            const barrierfree = $(this)[0].dataset.barrierfree;

            $(this).toggle(
                normalized.indexOf(searchValue) > -1
                && (!krajValue || kraj === krajValue)
                && (!vaccineValue || vaccines.includes(vaccineValue))
                && ((age5Value && age5) || (age16Value && age16) || (age18Value && age18))
                && ((walkinValue && walkin === 'True') || (!walkinValue && walkin === 'False'))
                && ((selfpaidValue && selfpaid === 'True') || (!selfpaidValue && selfpaid === 'False'))
                && (!thirddosesValue || thirddoses === 'True')
                && (!activeValue || active === 'True')
                && (!barrierfreeValue || barrierfree === 'True')
            )
        });

        $("#centers-table tbody tr:visible").each(function (index) {
            $(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,0)" : "rgba(0,0,0,.05)");
        });
    }

    $(document).ready(function () {
        $("#centers-searchbox").keyup(function () {
            centersFilterChanged();
        });
        $("#centers-kraj").change(function () {
            centersFilterChanged();
        });
        $("#centers-vaccine").change(function () {
            centersFilterChanged();
        });
        $("#centers-5").change(function () {
            centersFilterChanged();
        });
        $("#centers-16").change(function () {
            centersFilterChanged();
        });
        $("#centers-18").change(function () {
            centersFilterChanged();
        });
        $("#centers-walkin").change(function () {
            centersFilterChanged();
        });
        $("#centers-selfpaid").change(function () {
            centersFilterChanged();
        });
        $("#centers-thirddoses").change(function () {
            centersFilterChanged();
        });
        $("#centers-active").change(function () {
            centersFilterChanged();
        });
        $("#centers-barrierfree").change(function () {
            centersFilterChanged();
        });
        centersFilterChanged();
    });
</script>
{%- endmacro %}
