{% macro ockovaci_mista_bez_registrace(without_registration) -%}

<div class="table-responsive">
    <table id="places-table" class="table table-bordered table-striped table-sm" style="table-layout: fixed">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center col-sortable w-30">Název</th>
            <th scope="col" class="text-center col-sortable w-20">Kraj</th>
            <th scope="col" class="text-center col-sortable w-20">Adresa</th>
            <th scope="col" class="text-center col-sortable w-20">Vakcíny</th>
            <!-- <th scope="col" class="text-center col-sortable w-20">Adresa</th>-->
            <th scope="col" class="text-center w-20">Otvírací doba</th>
            <th scope="col" class="text-center w-10">Web</th>
            <th scope="col" class="text-center w-20">Telefon</th>
            <th scope="col" class="text-center w-20">Stav fronty</th>
        </tr>
        </thead>
        <tbody>
        {% for item in without_registration %}
        <tr>
            <td class="ellipsis" data-placement="auto" data-toggle="tooltip" data-value="{{ item.nazev }}"
                title="{{ item.nazev }}">
                {{ item.nazev }}
            </td>
            <td class="ellipsis" data-placement="auto" data-toggle="tooltip" data-value="{{ item.kraj }}"
                title="{{ item.kraj }}">
                {{ item.kraj }}
            </td>
            <td class="ellipsis" data-placement="auto" data-toggle="tooltip" data-value="{{ item.adresa }}"
                title="{{ item.adresa }}">
                <a href="https://mapy.cz/zakladni?q={{item.latitude}}%3B{{item.longitude}}" target="_blank">
                    {{ item.adresa }}
                </a>
            </td>
            <td class="ellipsis" data-placement="auto" data-toggle="tooltip" data-value="{{ item.pouzite_vakciny }}"
                title="{{ item.pouzite_vakciny }}">
                {{ item.pouzite_vakciny }}
            </td>
            <!--<td class="ellipsis" data-placement="auto" data-toggle="tooltip" data-value="{{ item.adresa }}" title="{{ item.adresa }}">{{
                item.adresa }}
            </td>-->
            <td class="ellipsis" data-placement="auto" data-toggle="tooltip" title="{{ item.otviraci_doba }}">
                {{ item.otviraci_doba }}
            </td>
            <td class="ellipsis" data-placement="auto" data-toggle="tooltip" title="{{ item.web }}">
                <a href="{{ item.web }}" target="_blank">web</a>
            </td>
            <td class="ellipsis" data-placement="auto" data-toggle="tooltip" title="{{ item.kontakt_tel }}">
                {{ item.kontakt_tel }}
            </td>
            <td class="ellipsis" data-placement="auto" data-toggle="tooltip" title="">
                <span id="queue-title-{{ item.nazev }}">Žádné informace</span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="alert alert-info">
    <p>
        V některých krajích je očkování bez registrace jen dočasné. Uvádíme odkazy na oficiální stránky krajů:
    </p>
    <ul>
        <li>
            <a href="https://www.kr-stredocesky.cz/web/urad/home/-/blogs/ockovani-proti-covid-19-bez-registrace-i-ve-stredoceskem-kraji" target="_blank">
                Středočeský kraj
            </a>
        </li>
        <li>
            <a href="https://www.kraj-jihocesky.cz/index.php/pokyny-pro-zajemce-o-ockovani-bez-predchozi-registrace" target="_blank">
                Jihočeský kraj
            </a>
        </li>
        <li>
            <a href="https://www.plzen.eu/o-meste/aktuality/aktuality-z-mesta/ockovani-proti-covidu-19-bez-registrace-spousti-i-plzensky-kraj.aspx" target="_blank">
                Plzeňský kraj
            </a>
        </li>
        <li>
            <a href="https://www.kr-karlovarsky.cz/covid-19/Stranky/ockovani_kvk.aspx" target="_blank">
                Karlovarský kraj
            </a>
        </li>
        <li>
            <a href="https://www.kr-ustecky.cz/ockovaci-centrum-bez-registrace-v-usteckem-obchodnim-centru-forum-zahajilo-provoz/d-1758491/p1=204698" target="_blank">
                Ústecký kraj
            </a>
        </li>
        <li>
            <a href="https://krajsky-urad.kraj-lbc.cz/covid-19-v-libereckem-kraji/v-ceskolipske-nemocnici-naockuji-i-neregistrovane-zajemce-liberecke-ockovaci-centrum-spusti-tuto-sluzbu-od-pondeli-n1097716.htm" target="_blank">
                Liberecký kraj
            </a>
        </li>
        <li>
            <a href="https://www.kr-kralovehradecky.cz/cz/kraj-volene-organy/tiskove-centrum/aktuality1/krajske-nemocnice-ockuji-zajemce-i-bez-registrace-331395/" target="_blank">
                Královéhradecký kraj
            </a>
        </li>
        <li>
            <a href="https://www.pardubickykraj.cz/ockovani/112713/ockovani-bez-registrace" target="_blank">
                Pardubický kraj
            </a>
        </li>
        <li>
            <a href="https://www.kr-vysocina.cz/ockovani-bez-registrace-v-kraji-vysocina/d-4108390/p1=111304" target="_blank">
                Kraj Vysočina
            </a>
        </li>
        <li>
            <a href="https://ockovani.jmk.cz/chci-se-ockovat" target="_blank">
                Jihomoravský kraj
            </a>
        </li>
        <li>
            <a href="https://www.olkraj.cz/v-olomouci-vznikne-nove-misto-pro-ockovani-proti-covid-19-bez-registrace-aktuality-10610.html" target="_blank">
                Olomoucký kraj
            </a>
        </li>
        <li>
            <a href="https://www.kr-zlinsky.cz/kde-se-ockuje-cl-5177.html" target="_blank">
                Zlínský kraj
            </a>
        </li>
        <li>
            <a href="https://koronavirus.msk.cz/ockovani.html" target="_blank">
                Moravskoslezský kraj
            </a>
        </li>
    </ul>
</div>

<div class="alert alert-secondary">
    Data pochází z otevřených zdrojů a
    <a href="https://covid.gov.cz/situace/registrace-na-ockovani/ockovani-bez-predchozi-registrace" target="_blank">
        COVID portálu</a>.
</div>

<script>
    $(document).ready(function () {
        updateQueue();
    });

    function updateQueue() {
        $title = $('#queue-title-Chodov');

        $.get('https://occhodov.ikem.cz/api/semaphore')
            .then(function (semaphoreData) {
                if (semaphoreData) {
                    var queueState = semaphoreData.queue_state;
                    if (queueState == 'full') {
                        $title.text('Nad hodinu');
                    } else if (queueState == 'ok') {
                        $title.text('20-60 minut');
                    } else if (queueState == 'free') {
                        $title.text('Do 20 minut');
                    } else if (queueState == 'closed') {
                        $title.text('Zavřeno');
                    } else {
                        $title.text('Žádné informace');
                    }
                }
            });
    }
</script>
{%- endmacro %}
