{% macro stav_ockovani_praktici(vac_doctor_age) -%}
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-search fa-fw"></i></span>
    </div>
    <input id="doctors-searchbox" type="text" class="form-control" placeholder="Hledat...">
</div>

<div class="table-responsive">
    <table id="doctors-table" class="table table-bordered table-striped table-sm" style="table-layout: fixed">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center col-sortable w-30">Název zařízení</th>
            <th scope="col" class="text-center col-sortable w-20">Okres</th>
            <th scope="col" class="text-center w-20">
                Vakcíny
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Vakcíny očkované za posledních 7 dní.">
                </i>
            </th>
            <th scope="col" class="text-center col-sortable w-15">
                Očkováno
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Počet podaných dávek vakcíny.">
                </i>
            </th>
            <th scope="col" class="text-center col-sortable w-15">
                Očkováno za<br>7 dní
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Počet podaných dávek vakcíny za posledních 7 dní.">
                </i>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for idx, row in vac_doctor_age.iterrows() %}
        <tr class="{{ 'table-warning' if row['provoz_ukoncen'] }}">
            <td class="ellipsis" data-value="{{ row['zarizeni_nazev'] }}" data-toggle="tooltip" data-placement="auto"
                title="{{ row['zarizeni_nazev'] }}">
                {{ row['zarizeni_nazev'] }}
            </td>
            <td data-value="{{ row['okres'] }}" data-toggle="tooltip" data-placement="auto">
                {{ row['okres'] }}
            </td>
            <td>{{ row['vakciny'] }}</td>
            <td class="text-right" data-value="{{ row['sum_1'] }}">{{ row['sum_1'] | format_number }}</td>
            <td class="text-right" data-value="{{ row['sum_2'] }}">{{ row['sum_2'] | format_number }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot class="font-weight-bold">
        <tr>
            <td colspan="3">Celkem</td>
            <td class="text-right">{{ vac_doctor_age['sum_1'].sum() | format_number }}</td>
            <td class="text-right">{{ vac_doctor_age['sum_2'].sum() | format_number }}</td>
        </tr>
        </tfoot>
    </table>
</div>

<p class="card-text font-italic text-justify">
    Oranžově jsou vyznačena zdravotnická zařízení, která ukončila očkování.
</p>

<script>
    $(document).ready(function(){
      $("#doctors-searchbox").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#doctors-table tbody tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        $("#doctors-table tbody tr:visible").each(function (index) {
            $(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,0)"  : "rgba(0,0,0,.05)");
        });
      });
    });
</script>
{%- endmacro %}
