{% macro srovnani_ockovani_neockovani_vek(data) -%}
<div class="table-responsive">
    <table class="table table-bordered table-striped table-sm mb-0">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center" rowspan="2" style="width: 7%">Věková skupina</th>
            <th scope="col" class="text-center" rowspan="2" style="width: 7%">
                Plně očkovaní
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Podíl plně očkovaných na začátku uvedeného týdne.">
                </i>
            </th>
            <th scope="col" class="text-center" colspan="3">Nakažení</th>
            <th scope="col" class="text-center" colspan="3">Hospitalizace</th>
            <th scope="col" class="text-center" colspan="3">Hospitalizace na JIP</th>
        </tr>
        <tr>
            <th scope="col" class="text-center" style="width: 10%">
                Neočkovaní
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Počet nově nakažených bez očkování.">
                </i>
            </th>
            <th scope="col" class="text-center" style="width: 10%">
                Plně očkovaní
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Počet nově nakažených plně očkováných.">
                </i>
            </th>
            <th scope="col" class="text-center" style="width: 7%">
                Poměr
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Poměr udává kolikrát více je nakažených bez očkování než plně očkovaných při přepočtu na stejně velké skupiny.">
                </i>
            </th>
            <th scope="col" class="text-center" style="width: 10%">
                Neočkovaní
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Počet hospitalizovaných bez očkování.">
                </i>
            </th>
            <th scope="col" class="text-center" style="width: 10%">
                Plně očkovaní
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Počet hospitalizovaných plně očkovaných.">
                </i>
            </th>
            <th scope="col" class="text-center" style="width: 7%">
                Poměr
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Poměr udává kolikrát více je hospitalizovaných bez očkování než plně očkovaných při přepočtu na stejně velké skupiny.">
                </i>
            </th>
            <th scope="col" class="text-center" style="width: 10%">
                Neočkovaní
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Počet neočkovaných hospitalizovaných na JIP.">
                </i>
            </th>
            <th scope="col" class="text-center" style="width: 10%">
                Plně očkovaní
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Počet plně očkovaných hospitalizovaných na JIP.">
                </i>
            </th>
            <th scope="col" class="text-center" style="width: 7%">
                Poměr
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Poměr udává kolikrát více je hospitalizovaných na JIP bez očkování než plně očkovaných při přepočtu na stejně velké skupiny.">
                </i>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for idx, row in data.iterrows() %}
        <tr>
            <td>{{ row['vekova_skupina'] }}</td>
            <td class="text-right">{{ (100 * row['populace_plne_zastoupeni']) | format_decimal }} %</td>
            <td class="text-right">{{ row['nakazeni_bez'] | format_number }}</td>
            <td class="text-right">{{ row['nakazeni_plne'] | format_number }}</td>
            <td class="text-right">{{ row['nakazeni_ratio'] | format_decimal }}{% if row['nakazeni_ratio'] %}&times;{% endif %}</td>
            <td class="text-right">{{ row['hospitalizace_bez'] | format_number }}</td>
            <td class="text-right">{{ row['hospitalizace_plne'] | format_number }}</td>
            <td class="text-right">{{ row['hospitalizace_ratio'] | format_decimal }}{% if row['hospitalizace_ratio'] %}&times;{% endif %}</td>
            <td class="text-right">{{ row['hospitalizace_jip_bez'] | format_number }}</td>
            <td class="text-right">{{ row['hospitalizace_jip_plne'] | format_number }}</td>
            <td class="text-right">{{ row['hospitalizace_jip_ratio'] | format_decimal }}{% if row['hospitalizace_jip_ratio'] %}&times;{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot class="font-weight-bold">
        <tr>
            <td>Celkem</td>
            <td class="text-right">{{ (100 * data['populace_plne'].sum() / data['populace'].sum()) | format_decimal }} %</td>
            <td class="text-right">{{ data['nakazeni_bez'].sum() | format_number }}</td>
            <td class="text-right">{{ data['nakazeni_plne'].sum() | format_number }}</td>
            <td></td>
            <td class="text-right">{{ data['hospitalizace_bez'].sum() | format_number }}</td>
            <td class="text-right">{{ data['hospitalizace_plne'].sum() | format_number }}</td>
            <td></td>
            <td class="text-right">{{ data['hospitalizace_jip_bez'].sum() | format_number }}</td>
            <td class="text-right">{{ data['hospitalizace_jip_plne'].sum() | format_number }}</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>
{%- endmacro %}
