{% macro srovnani_ockovani_neockovani_vek(data, dataset) -%}
<div class="table-responsive">
    <table class="table table-bordered table-striped table-sm mb-0">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center" rowspan="2" style="width: 12%">Věková skupina</th>
            <th scope="col" class="text-center" colspan="2">
                Neočkovaní
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Lidé, kteří nedostali žádnou dávku.">
                </i>
            </th>
            <th scope="col" class="text-center" colspan="3">
                Plně očkovaní
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Lidé s dokončeným očkováním (2 dávky nebo jednodávková vakcína).">
                </i>
            </th>
            <th scope="col" class="text-center" colspan="3">
                Očkovaní posilující
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Lidé očkovaní posilující dávkou.">
                </i>
            </th>
        </tr>
        <tr>
            <th scope="col" class="text-center" style="width: 11%">
                V populaci
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Podíl neočkovaných na začátku uvedeného týdne.">
                </i>
            </th>
            <th scope="col" class="text-center" style="width: 11%">
                Počet
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Počet nových případů.">
                </i>
            </th>
            <th scope="col" class="text-center" style="width: 11%">
                V populaci
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Podíl plně očkovaných na začátku uvedeného týdne.">
                </i>
            </th>
            <th scope="col" class="text-center" style="width: 11%">
                Počet
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Počet nových případů.">
                </i>
            </th>
            <th scope="col" class="text-center" style="width: 11%">
                Poměr
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Poměr udává kolikrát více je případů bez očkování než plně očkovaných při přepočtu na stejně velké skupiny.">
                </i>
            </th>
            <th scope="col" class="text-center" style="width: 11%">
                V populaci
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Podíl očkovaných posilující dávkou na začátku uvedeného týdne.">
                </i>
            </th>
            <th scope="col" class="text-center" style="width: 11%">
                Počet
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Počet nových případů.">
                </i>
            </th>
            <th scope="col" class="text-center" style="width: 11%">
                Poměr
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Poměr udává kolikrát více je případů bez očkování než očkovaných posilující dávkou při přepočtu na stejně velké skupiny.">
                </i>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for idx, row in data.iterrows() %}
        <tr>
            <td>{{ row['vekova_skupina'] }}</td>
            <td class="text-right">{{ (100 * row['populace_bez_zastoupeni']) | format_decimal }} %</td>
            <td class="text-right">{{ row[dataset + '_bez'] | format_number }}</td>
            <td class="text-right">{{ (100 * row['populace_plne_zastoupeni']) | format_decimal }} %</td>
            <td class="text-right">{{ row[dataset + '_plne'] | format_number }}</td>
            <td class="text-right">{{ row[dataset + '_plne_ratio'] | format_decimal }}{% if row[dataset + '_plne_ratio'] %}&times;{% endif %}</td>
            <td class="text-right">{{ (100 * row['populace_posilujici_zastoupeni']) | format_decimal }} %</td>
            <td class="text-right">{{ row[dataset + '_posilujici'] | format_number }}</td>
            <td class="text-right">{{ row[dataset + '_posilujici_ratio'] | format_decimal }}{% if row[dataset + '_posilujici_ratio'] %}&times;{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot class="font-weight-bold">
        <tr>
            <td>Celkem</td>
            <td class="text-right">{{ (100 * data['populace_bez'].sum() / data['populace'].sum()) | format_decimal }} %</td>
            <td class="text-right">{{ data[dataset + '_bez'].sum() | format_number }}</td>
            <td class="text-right">{{ (100 * data['populace_plne'].sum() / data['populace'].sum()) | format_decimal }} %</td>
            <td class="text-right">{{ data[dataset + '_plne'].sum() | format_number }}</td>
            <td></td>
            <td class="text-right">{{ (100 * data['populace_posilujici'].sum() / data['populace'].sum()) | format_decimal }} %</td>
            <td class="text-right">{{ data[dataset + '_posilujici'].sum() | format_number }}</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>
{%- endmacro %}
