{% macro stav_vakcin(vaccines) -%}
<div class="table-responsive">
    <table class="table table-bordered table-striped table-sm mb-0">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="w-20 text-center">Výrobce</th>
            <th scope="col" class="w-20 text-center">
                Přijato
                <i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Počet dávek přijatých na dané místo.<br>V případě přehledu kraje předpokládáme, že dávky vydané mimo očkovací místa (např. praktickým lékařům) zůstaly ve stejném kraji. Data neobsahují dávky distribuované praktickým lékařům přímo.">
                </i>
            </th>
            {% if 'pouzito' in vaccines %}
            <th scope="col" class="w-20 text-center">
                Použito
                <i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Počet použitých dávek podle spotřeby vakcín.<br>Dataset spotřeba vakcín vykazuje velké zpoždění a nepřesnosti!">
                </i>
            </th>
            {% else %}
            <th scope="col" class="w-20 text-center">
                Očkováno
                <i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Počet očkovaných dávek podle vykázaných očkování.<br>Dataset vykázaných očkování vykazuje velké zpoždění a nepřesnosti!">
                </i>
            </th>
            {% endif %}
            <th scope="col" class="w-20 text-center">
                Zničeno
                <i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Počet zničených dávek podle spotřeby vakcín.<br>Dataset spotřeba vakcín vykazuje velké zpoždění a nepřesnosti!">
                </i>
            </th>
            <!--<th scope="col" class="w-20 text-center">
                Skladem
                <i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Odhadovaný počet dávek skladem.<br>Údaj je počítán z předchozích sloupců a může vykazovat velké nepřesnosti způsobené zpožděním v datech! U vakcín, které jsou distribuovány praktickým lékařům přímo, může být dokonce záporný.">
                </i>
            </th>-->
        </tr>
        </thead>
        <tbody>
        {% for idx, row in vaccines.iterrows() %}
        <tr>
            <td>{{ row['vyrobce'] }}</td>
            <td class="text-right">{{ row['prijato_celkem'] | format_number }}</td>
            {% if 'pouzito' in row %}
            <td class="text-right">{{ row['pouzito'] | format_number }}</td>
            {% else %}
            <td class="text-right">{{ row['ockovano'] | format_number }}</td>
            {% endif %}
            <td class="text-right">{{ row['znehodnoceno'] | format_number }}</td>
            <!--<td class="text-right">{{ row['skladem'] | format_number }}</td>-->
        </tr>
        {% endfor %}
        </tbody>
        <tfoot class="font-weight-bold">
        <tr>
            <td>Celkem</td>
            <td class="text-right">{{ vaccines['prijato_celkem'].sum() | format_number }}</td>
            {% if 'pouzito' in vaccines %}
            <td class="text-right">{{ vaccines['pouzito'].sum() | format_number }}</td>
            {% else %}
            <td class="text-right">{{ vaccines['ockovano'].sum() | format_number }}</td>
            {% endif %}
            <td class="text-right">{{ vaccines['znehodnoceno'].sum() | format_number }}</td>
            <!--<td class="text-right">{{ vaccines['skladem'].sum() | format_number }}</td>-->
        </tr>
        </tfoot>
    </table>
</div>
{%- endmacro %}
