{% from 'macros/common.html' import stitek %}

{% macro stav_registraci(registrations) -%}
<div class="table-responsive">
    <table class="table table-bordered table-striped table-sm" style="table-layout: fixed">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="w-15 text-center col-sortable">Věková skupina</th>
            <th scope="col" class="w-20 text-center col-sortable">Prioritní skupina</th>
            <th scope="col" class="w-10 text-center col-sortable">
                Ve frontě
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Počet registrovaných čekajících na rezervaci konkrétního termínu (přibližně odpovídá čekajícím na SMS s PIN2).">
                </i>
            </th>
            <th scope="col" class="w-10 text-center">
                S termínem
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Počet lidí s PIN2, kteří ještě pravděpodobně nebyli očkováni - možná nepřesnost cca 1 den.">
                </i>
            </th>
            <th scope="col" class="w-15 text-center col-sortable">
                Čekání na rezervaci
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Průměrná doba mezi registrací a rezervací konkrétního termínu za posledních 7 dní (přibližně odpovídá čekání na možnost výběru termínu).<br>Registrace na 1. a posilující dávku mohou mít různou prioritu.<br>Pro výpočet používáme jen registrace vytvořené před 90 dny a novější.<br>Červená (>2), žlutá (>1), zelená (>0).">
                </i>
            </th>
            <th scope="col" class="w-15 text-center col-sortable">
                Doba ve frontě
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Průměrná doba strávená čekajícími ve frontě k dnešnímu dni.<br>Pro výpočet používáme jen registrace vytvořené před 90 dny a novější.<br>Červená (>2), žlutá (>1), zelená (>0).">
                </i>
            </th>
            <th scope="col" class="w-15 text-center col-sortable">
                7denní úspěšnost
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto" data-html="true"
                   title="Poměr počtu registrovaných za posledních 7 dní s vybraným termínem ku počtu všech registrovaných za posledních 7 dní.<br>Zelená (>50 %), žlutá (>5 %), červená (>0 %).">
                </i>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for idx, row in registrations.iterrows() %}
        <tr class="{{ 'table-warning' if row['rezervace_14_pocet'] == 0 }}">
            <td data-value="{{ row['vekova_skupina'] }}">
                {{ row['vekova_skupina'] }}
            </td>
            <td class="ellipsis" data-toggle="tooltip" data-placement="auto" title="{{ row['povolani'] }}"
                data-value="{{ row['povolani'] }}">
                {{ row['povolani'] }}
            </td>
            <td class="text-right" data-value="{{ row['fronta_pocet'] }}">
                {{ row['fronta_pocet'] | format_number }}
            </td>
            <td class="text-right" data-value="{{ row['s_terminem_pocet'] }}">
                {{ row['s_terminem_pocet'] | format_number }}
            </td>
            <td class="text-center" data-value="{{ row['rezervace_prumer_cekani'] }}">
                {{ stitek(row['rezervace_prumer_cekani'], decimal=True, unit='týdne', unit_short='t', rev_color=True, limits=(1, 2)) }}
            </td>
            <td class="text-center" data-value="{{ row['fronta_prumer_cekani'] }}">
                {{ stitek(row['fronta_prumer_cekani'], decimal=True, unit='týdne', unit_short='t', rev_color=True, limits=(1, 2)) }}
            </td>
            <td class="text-center" data-value="{{ row['uspesnost_7'] }}">
                {{ stitek(row['uspesnost_7'], unit='%', limits=(5, 50), title=(row['registrace_7_rez'] | string) + '/' + (row['registrace_7'] | string)) }}
            </td>
        </tr>
        {% endfor %}
        {% if registrations.empty %}
        <tr>
            <td colspan="7" class="font-italic">Toto očkovací místo zatím nemá žádné registrace nebo rezervace.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <p class="card-text font-italic text-justify">
        Oranžově jsou vyznačeny kategorie, kterým nebyla za posledních 14 dní umožněna žádná rezervace.
    </p>
    <p class="card-text font-italic text-justify">
        V tabulce uvažujeme pouze registrace vytvořené před 90 dny a novější.
    </p>
</div>
{%- endmacro %}
