{% macro stav_registraci_kategorie(reservations_category) -%}

<div class="table-responsive">
    <table class="table table-bordered table-striped table-sm mb-0" style="table-layout: fixed">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="w-20 text-center" rowspan="1">Skupina</th>
            <th scope="col" class="w-20 text-center" rowspan="1">
                Ve frontě
                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                   title="Počet čekajících ve frontě před závorou na SMS s PIN2 (výběr termínu).">
                </i>
            </th>
            <th scope="col" class="w-20 text-center" colspan="1">
                S termínem
                    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto" data-html="true"
                       title="Počet lidí s PIN2, kteří ještě pravděpodobně nebyli očkováni - možná nepřesnost cca 1 den">
                    </i>
            </th>
            <th scope="col" class="w-20 text-center" colspan="1">
                Očkovaní
                    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto" data-html="true"
                       title="Počet lidí s PIN2, kteří již byli očkováni alespoň jednou dávkou. Více nelze rozlišit. Pokud sloupec obsahuje nuly, výpočet se nepovedl.">
                    </i>
            </th>
            <th scope="col" class="w-20 text-center" colspan="1">
                Celkem
                    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto" data-html="true"
                       title="Celkový počet lidí v dané kategorii">
                    </i>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for idx, row in reservations_category.iterrows() %}
        <tr>
            <td class="ellipsis" data-toggle="tooltip" data-placement="auto" title="{{ row['kategorie'] }}"
                data-value="{{ row['kategorie'] }}">{{ row['kategorie'] }}</td>
            <td class="text-right">{{ row['cekajici'] | format_number }}</td>
            <td class="text-right">{{ row['s_terminem'] | format_number }}</td>
            <td class="text-right">{{ row['ockovani'] | format_number }}</td>
            <td class="text-right">{{ row['celkem'] | format_number }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot class="font-weight-bold">
        <tr>
            <td>Celkem</td>
            <td class="text-right">{{ reservations_category['cekajici'].sum() | format_number }}</td>
            <td class="text-right">{{ reservations_category['s_terminem'].sum() | format_number }}</td>
            <td class="text-right">{{ reservations_category['ockovani'].sum() | format_number }}</td>
            <td class="text-right">{{ reservations_category['celkem'].sum() | format_number }}</td>
        </tr>
        </tfoot>
    </table>
</div>
{%- endmacro %}
