{% macro volne_vakciny(free_vaccines, kraj_options, vaccines_options) -%}

<div class="form-row">
    <div class="col-12 col-lg-6 mb-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search fa-fw"></i></span>
            </div>
            <input id="free-vaccines-searchbox" type="text" class="form-control" placeholder="Hledat...">
        </div>
    </div>
    <div class="col mb-3">
        <select id="free-vaccines-kraj" class="custom-select">
            <option value="">Všechny kraje</option>
            {% for option in kraj_options %}
            <option value="{{ option[0] }}">{{ option[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col mb-3">
        <select id="free-vaccines-vaccine" class="custom-select">
            <option value="">Všechny vakcíny</option>
            {% for option in vaccines_options %}
            <option value="{{ option[0] }}">{{ option[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-auto mb-3">
        <div class="custom-control custom-switch" style="display: inline-block">
            <input id="free-vaccines-adults" type="checkbox" class="custom-control-input" checked>
            <label class="custom-control-label" for="free-vaccines-adults">dospělí</label>
        </div>
    </div>
    <div class="col-auto mb-3">
        <div class="custom-control custom-switch" style="display: inline-block">
            <input id="free-vaccines-children" type="checkbox" class="custom-control-input" checked>
            <label class="custom-control-label" for="free-vaccines-children">děti</label>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table id="free-vaccines-table" class="table table-bordered table-striped table-sm mb-0">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">Aktualizace</th>
            <th scope="col" class="text-center col-sortable">Dávek</th>
            <th scope="col" class="text-center col-sortable">Vakcína</th>
            <th scope="col" class="text-center col-sortable">Město</th>
            <th scope="col" class="text-center">Ordinace</th>
            <th scope="col" class="text-center">Kontakt</th>
            <th scope="col" class="text-center col-sortable">Expirace</th>
            <th scope="col" class="text-center">Poznámka</th>
        </tr>
        </thead>
        <tbody>
        {% for item in free_vaccines %}
        <tr data-kraj="{{ item.kraj }}" data-vaccine="{{ item.typ_vakciny }}" data-adults="{{ item.dospeli }}"
            data-children="{{ item.deti }}">
            <td class="text-right">
                {{ item.datum_aktualizace.strftime('%a %d. %m. %H:%M').lower() }}
            </td>
            <td class="text-right" data-value="{{ item.pocet_davek }}">
                {{ item.pocet_davek | format_number }}
            </td>
            <td data-value="{{ item.typ_vakciny }}">
                {{ item.typ_vakciny }}
            </td>
            <td data-value="{{ item.mesto }}">
                {{ item.mesto }}
            </td>
            <td>
                <p class="mb-0">{{ item.nazev_ordinace }}</p>
                <p class="mb-0">{{ item.adresa }}</p>
            </td>
            <td>
                <p class="mb-0">{{ item.kontakt_tel }}</p>
                <p class="mb-0">{{ item.kontakt_email }}</p>
            </td>
            <td class="text-right" data-value="{{ item.expirace }}">
                {{ item.expirace | format_date if item.expirace else ""  }}
            </td>
            <td>
                {{ item.poznamka }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function filterChanged() {
        const stripAccents = x => x.normalize("NFD").replace(/[\u0300-\u036f]/g, "");

        const searchValue = stripAccents($("#free-vaccines-searchbox").val().toLowerCase());
        const krajValue = $("#free-vaccines-kraj").val();
        const vaccineValue = $("#free-vaccines-vaccine").val();
        const adultsValue = $("#free-vaccines-adults")[0].checked;
        const childrenValue = $("#free-vaccines-children")[0].checked;

        $("#free-vaccines-table tbody tr").filter(function () {
            const normalized = stripAccents($(this).text().toLowerCase());
            const adults = $(this)[0].dataset.adults;
            const children = $(this)[0].dataset.children;

            $(this).toggle(
                normalized.indexOf(searchValue) > -1
                && (!krajValue || $(this)[0].dataset.kraj === krajValue)
                && (!vaccineValue || $(this)[0].dataset.vaccine === vaccineValue)
                && ((adultsValue && adults === 'True') || (childrenValue && children === 'True'))
            )
        });

        $("#free-vaccines-table tbody tr:visible").each(function (index) {
            $(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,0)"  : "rgba(0,0,0,.05)");
        });
    }

    $(document).ready(function () {
        $("#free-vaccines-searchbox").keyup(function () {
            filterChanged();
        });
        $("#free-vaccines-kraj").change(function () {
            filterChanged();
        });
        $("#free-vaccines-vaccine").change(function () {
            filterChanged();
        });
        $("#free-vaccines-adults").change(function () {
            if (!$("#free-vaccines-adults")[0].checked) {
                $("#free-vaccines-children")[0].checked = true;
            }
            filterChanged();
        });
        $("#free-vaccines-children").change(function () {
            if (!$("#free-vaccines-children")[0].checked) {
                $("#free-vaccines-adults")[0].checked = true;
            }
            filterChanged();
        });
        filterChanged();
    });
</script>
{%- endmacro %}

