{% macro volne_vakciny(free_vaccines, vaccine_options, kraj_options=None, filtered_mode=False, detail_mode=False, admin_mode=False) -%}

{% if not admin_mode %}
<div class="alert alert-info text-justify alert-dismissible fade show" role="alert">
    <p>
        V této tabulce jsou zveřejňovány nabídky očkování s uvedeným typem očkovací látky a kapacitou. Údaje se
        pravidelně aktualizují.
        Některé ordinace praktických lékařů pro dospělé nabízejí očkování i dětem od 14 let a naopak některé ordinace
        praktických lékařů pro děti a dorost nabízejí očkování i dospělým.
    </p>
    <p class="mb-0">
        Pokud máte o očkování zájem, kontaktujte vybranou ordinaci, dodržujte při tom pokyny v poznámce.
    </p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if not detail_mode %}
<div class="form-row mb-1">
    <div class="col-12 col-lg-6 mb-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search fa-fw"></i></span>
            </div>
            <input id="free-vaccines-searchbox" type="text" class="form-control" placeholder="Hledat...">
        </div>
    </div>
    {% if not filtered_mode %}
    <div class="col-6 col-sm mb-2">
        <select id="free-vaccines-kraj" class="custom-select">
            <option value="">Všechny kraje</option>
            {% for option in kraj_options %}
            <option value="{{ option[0] }}">{{ option[0] }}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
    <div class="col-6 col-sm mb-2">
        <select id="free-vaccines-vaccine" class="custom-select">
            <option value="">Všechny vakcíny</option>
            {% for option in vaccine_options %}
            <option value="{{ option.typ_vakciny }}">{{ option.nemoc }} ({{option.typ_vakciny }})</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-12 col-sm-auto text-center mb-2">
        <div class="custom-control custom-switch mr-2" style="display: inline-block">
            <input id="free-vaccines-adults" type="checkbox" class="custom-control-input" checked>
            <label class="custom-control-label" for="free-vaccines-adults">dospělí</label>
        </div>
        <div class="custom-control custom-switch" style="display: inline-block">
            <input id="free-vaccines-children" type="checkbox" class="custom-control-input" checked>
            <label class="custom-control-label" for="free-vaccines-children">děti</label>
        </div>
    </div>
</div>
{% endif %}

<div class="table-responsive">
    <table id="free-vaccines-table" class="table table-bordered table-striped table-sm mb-0">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">Aktualizace</th>
            <th scope="col" class="text-center col-sortable">Dávek</th>
            <th scope="col" class="text-center col-sortable">Vakcína</th>
            {% if not detail_mode %}
            <th scope="col" class="text-center col-sortable">Město</th>
            <th scope="col" class="text-center">Název zařízení</th>
            {% endif %}
            {% if detail_mode %}
            <th scope="col" class="text-center">Věkové skupiny</th>
            <th scope="col" class="text-center">Kontakt</th>
            {% endif %}
            <th scope="col" class="text-center col-sortable">Expirace</th>
            <th scope="col" class="text-center">Poznámka</th>
        </tr>
        </thead>
        <tbody>
        {% for item in free_vaccines %}
        <tr data-kraj="{{ item.kraj }}" data-vaccine="{{ item.typ_vakciny }}" data-adults="{{ item.dospeli }}"
            data-children="{{ item.deti }}">
            <td class="text-right">
                {{ item.datum_aktualizace.strftime('%a %d. %m. %H:%M').lower() }}
            </td>
            <td class="text-right" data-value="{{ item.pocet_davek }}">
                {{ item.pocet_davek | format_number }}
            </td>
            <td data-value="{{ item.typ_vakciny }}">
                {{ item.typ_vakciny }}
            </td>
            {% if not detail_mode %}
            <td data-value="{{ item.mesto }}">
                {{ item.mesto }}
            </td>
            <td>
                {% if item.nrpzs_kod %}
                <a href="{{ url_for('view.praktik_detail', nrpzs_kod=item.nrpzs_kod) }}">
                    {{ item.nazev_ordinace }}
                </a>
                {% else %}
                {{ item.nazev_ordinace }}
                {% endif %}
            </td>
            {% endif %}
            {% if detail_mode %}
            <td>
                <p class="mb-0">Dospělí: {{ item.dospeli | format_bool }}</p>
                <p class="mb-0">Děti: {{ item.deti | format_bool }}</p>
            </td>
            <td>
                {% if item.kontakt_tel %}
                <p class="mb-0"><a href="tel:{{ item.kontakt_tel }}">{{ item.kontakt_tel }}</a></p>
                {% endif %}
                {% if item.kontakt_email %}
                <p class="mb-0"><a href="mailto:{{ item.kontakt_email }}">{{ item.kontakt_email }}</a></p>
                {% endif %}
            </td>
            {% endif %}
            <td class="text-right" data-value="{{ item.expirace }}">
                {{ item.expirace | format_date if item.expirace else ""  }}
            </td>
            <td>
                {{ item.poznamka }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function offersFilterChanged() {
        const stripAccents = x => x.normalize("NFD").replace(/[\u0300-\u036f]/g, "");

        const searchValue = stripAccents($("#free-vaccines-searchbox").val().toLowerCase());
        const krajValue = $("#free-vaccines-kraj").val();
        const vaccineValue = $("#free-vaccines-vaccine").val();
        const adultsValue = $("#free-vaccines-adults")[0].checked;
        const childrenValue = $("#free-vaccines-children")[0].checked;

        $("#free-vaccines-table tbody tr").filter(function () {
            const normalized = stripAccents($(this).text().toLowerCase());
            const kraj = $(this)[0].dataset.kraj;
            const vaccine = $(this)[0].dataset.vaccine;
            const adults = $(this)[0].dataset.adults;
            const children = $(this)[0].dataset.children;

            $(this).toggle(
                normalized.indexOf(searchValue) > -1
                && (!krajValue || kraj === krajValue)
                && (!vaccineValue || vaccine === vaccineValue)
                && ((adultsValue && adults === 'True') || (childrenValue && children === 'True'))
            )
        });

        $("#free-vaccines-table tbody tr:visible").each(function (index) {
            $(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,0)"  : "rgba(0,0,0,.05)");
        });
    }

    $(document).ready(function () {
        $("#free-vaccines-searchbox").keyup(function () {
            offersFilterChanged();
        });
        $("#free-vaccines-kraj").change(function () {
            offersFilterChanged();
        });
        $("#free-vaccines-vaccine").change(function () {
            offersFilterChanged();
        });
        $("#free-vaccines-adults").change(function () {
            if (!$("#free-vaccines-adults")[0].checked) {
                $("#free-vaccines-children")[0].checked = true;
            }
            offersFilterChanged();
        });
        $("#free-vaccines-children").change(function () {
            if (!$("#free-vaccines-children")[0].checked) {
                $("#free-vaccines-adults")[0].checked = true;
            }
            offersFilterChanged();
        });
        offersFilterChanged();
    });
</script>
{%- endmacro %}

