.container {
    padding-top: 5rem;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.metrics-number {
    text-align: right;
    margin-bottom: 0;
    font-size: 200%;
}

.metrics-delta {
    text-align: right;
    font-size: 120%;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none
}