.container {
    padding-top: 5rem;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.metrics-number {
    text-align: right;
    margin-bottom: 0;
    font-size: 200%;
}

.metrics-delta {
    text-align: right;
    font-size: 130%;
}