{% macro graf_kapacita(data, kraj, typ) -%}
<div id="plotly-kapacita-{{ kraj }}-{{ typ }}"></div>

<script>
    function grafKapacita_{{ kraj }}_{{ typ }}() {
        {% set data=data[data[typ + '_celkem'] > 0] %}

        let data = [];

        {% if typ + '_volno' in data %}
        const volna = {
            x: [{% for idx, row in data.iterrows() %}"{{ idx }}",{% endfor %}],
            y: [{% for idx, row in data.iterrows() %}{{ row[typ + '_volno'] }},{% endfor %}],
            type: "scatter",
            fill: "tonexty",
            stackgroup: 'one',
            name: "Volno",
            line: {color: "#2ca02c"},
        }
        data.push(volna);

        {% else %}
        const volna_pozitivni = {
            x: [{% for idx, row in data.iterrows() %}"{{ idx }}",{% endfor %}],
            y: [{% for idx, row in data.iterrows() %}{{ row[typ + '_volno_poz'] }},{% endfor %}],
            type: "scatter",
            fill: "tonexty",
            stackgroup: 'one',
            name: "Volno COVID",
            line: {color: "#1f77b4"},
        }
        data.push(volna_pozitivni);

        const volna_negativni = {
            x: [{% for idx, row in data.iterrows() %}"{{ idx }}",{% endfor %}],
            y: [{% for idx, row in data.iterrows() %}{{ row[typ + '_volno_neg'] }},{% endfor %}],
            type: "scatter",
            fill: "tonexty",
            stackgroup: 'one',
            name: "Volno neCOVID",
            line: {color: "#2ca02c"},
        }
        data.push(volna_negativni);
        {% endif %}

        const obsazena = {
            x: [{% for idx, row in data.iterrows() %}"{{ idx }}",{% endfor %}],
            y: [{% for idx, row in data.iterrows() %}{{ row[typ + '_obsazeno'] }},{% endfor %}],
            type: "scatter",
            fill: "tonexty",
            stackgroup: 'one',
            name: "Obsazeno",
            line: {color: "#d62728"},
        }
        data.push(obsazena);

        const layout = {
            autosize: true,
            xaxis: {
                title: "Datum [den]",
                type: "date",

                // Tune ticks
                tickformat: "%-d.%-m.%Y",
                tickangle: 90,
                nticks: 15,

                range: [new Date(new Date().setMonth(new Date().getMonth() - 3)), new Date()],
                rangeslider: true,
                rangeselector: {
                    buttons: [
                        {
                            count: 1,
                            label: "1 měsíc",
                            step: "month",
                            stepmode: "backward",
                        },
                        {
                            count: 3,
                            label: "3 měsíce",
                            step: "month",
                            stepmode: "backward",
                        },
                        {
                            count: 6,
                            label: "6 měsíců",
                            step: "month",
                            stepmode: "backward",
                        },
                        {
                            label: "všechna data",
                            step: "all"
                        }
                    ],
                    xanchor: "center",
                    x: 0.5,
                }
            },
            yaxis: {
                title: "Počet",
                automargin: true,
                tickformat: '.f',
            },
            hovermode: "x unified",
            showlegend: true,
            legend: {
                orientation: "h",
                xanchor: "center",
                x: 0.5,
                y: -1.02,
            },
            height: 400,
            margin: {t: 0, r: 0, b: 0, l: 55},
        }

        const config = {
            responsive: true,
            displayModeBar: false,
        }

        Plotly.newPlot("plotly-kapacita-{{ kraj }}-{{ typ }}", data, layout, config);
    }

    grafKapacita_{{ kraj }}_{{ typ }}()

    $('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
        let target = $(e.target).attr("href")
        if(target==="#{{ kraj }}") {
            grafKapacita_{{ kraj }}_{{ typ }}();
        }
    });

</script>
{%- endmacro %}
