{% macro graf_nakazeni(data) -%}
<div id="plotly-nakazeni"></div>

<script>
    function grafNakazeni() {
        {% set data_80 = data.filter(like = '80+', axis=0) %}
        {% set data_70_79 = data.filter(like = '70-79', axis=0) %}
        {% set data_60_69 = data.filter(like = '60-69', axis=0) %}
        {% set data_50_59 = data.filter(like = '50-59', axis=0) %}
        {% set data_40_49 = data.filter(like = '40-49', axis=0) %}
        {% set data_30_39 = data.filter(like = '30-39', axis=0) %}
        {% set data_18_29 = data.filter(like = '18-29', axis=0) %}
        {% set data_0_17 = data.filter(like = '0-17', axis=0) %}

        const hovertemplate = "%{y:.1f} (%{customdata} nakažených za den)";

        const nakazeni_80 = {
            x: [{% for idx, row in data_80.iterrows() %}"{{ idx[1] }}",{% endfor %}],
            y: [{% for idx, row in data_80.iterrows() %}{{ row['pocet_nakazeni_norm'] }},{% endfor %}],
            customdata: [{% for idx, row in data_80.iterrows() %}{{ row['pocet_nakazeni'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "80+",
            hovertemplate: hovertemplate,
        }

        const nakazeni_70_79 = {
            x: [{% for idx, row in data_70_79.iterrows() %}"{{ idx[1] }}",{% endfor %}],
            y: [{% for idx, row in data_70_79.iterrows() %}{{ row['pocet_nakazeni_norm'] }},{% endfor %}],
            customdata: [{% for idx, row in data_70_79.iterrows() %}{{ row['pocet_nakazeni'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "70-79",
            hovertemplate: hovertemplate,
        }

        const nakazeni_60_69 = {
            x: [{% for idx, row in data_60_69.iterrows() %}"{{ idx[1] }}",{% endfor %}],
            y: [{% for idx, row in data_60_69.iterrows() %}{{ row['pocet_nakazeni_norm'] }},{% endfor %}],
            customdata: [{% for idx, row in data_60_69.iterrows() %}{{ row['pocet_nakazeni'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "60-69",
            hovertemplate: hovertemplate,
        }

        const nakazeni_50_59 = {
            x: [{% for idx, row in data_50_59.iterrows() %}"{{ idx[1] }}",{% endfor %}],
            y: [{% for idx, row in data_50_59.iterrows() %}{{ row['pocet_nakazeni_norm'] }},{% endfor %}],
            customdata: [{% for idx, row in data_50_59.iterrows() %}{{ row['pocet_nakazeni'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "50-59",
            hovertemplate: hovertemplate,
        }

        const nakazeni_40_49 = {
            x: [{% for idx, row in data_40_49.iterrows() %}"{{ idx[1] }}",{% endfor %}],
            y: [{% for idx, row in data_40_49.iterrows() %}{{ row['pocet_nakazeni_norm'] }},{% endfor %}],
            customdata: [{% for idx, row in data_40_49.iterrows() %}{{ row['pocet_nakazeni'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "40-49",
            hovertemplate: hovertemplate,
        }

        const nakazeni_30_39 = {
            x: [{% for idx, row in data_30_39.iterrows() %}"{{ idx[1] }}",{% endfor %}],
            y: [{% for idx, row in data_30_39.iterrows() %}{{ row['pocet_nakazeni_norm'] }},{% endfor %}],
            customdata: [{% for idx, row in data_30_39.iterrows() %}{{ row['pocet_nakazeni'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "30-39",
            hovertemplate: hovertemplate,
        }

        const nakazeni_18_29 = {
            x: [{% for idx, row in data_18_29.iterrows() %}"{{ idx[1] }}",{% endfor %}],
            y: [{% for idx, row in data_18_29.iterrows() %}{{ row['pocet_nakazeni_norm'] }},{% endfor %}],
            customdata: [{% for idx, row in data_18_29.iterrows() %}{{ row['pocet_nakazeni'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "18-29",
            hovertemplate: hovertemplate,
        }

        const nakazeni_0_17 = {
            x: [{% for idx, row in data_0_17.iterrows() %}"{{ idx[1] }}",{% endfor %}],
            y: [{% for idx, row in data_0_17.iterrows() %}{{ row['pocet_nakazeni_norm'] }},{% endfor %}],
            customdata: [{% for idx, row in data_0_17.iterrows() %}{{ row['pocet_nakazeni'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "0-17",
            hovertemplate: hovertemplate,
        }

        const layout = {
            title: "Týdenní průměr počtu nově nakažených na 100 tisíc obyvatel",
            autosize: true,
            xaxis: {
                title: "Datum [den]",
                type: "day",
                tickformat: "%-d.%-m.%Y",
                range: [new Date(new Date().setMonth(new Date().getMonth()-3)), new Date()],
                rangeslider: true,
                rangeselector: {
                    buttons: [
                        {
                            count: 3,
                            label: "3 měsíce",
                            step: "month",
                            stepmode: "backward"
                        },
                        {
                            count: 6,
                            label: "6 měsíců",
                            step: "month",
                            stepmode: "backward"
                        },
                        {
                            count: 1,
                            label: "1 rok",
                            step: "year",
                            stepmode: "backward"
                        },
                        {
                            label: "všechna data",
                            step: "all"
                        }
                    ],
                    xanchor: "center",
                    x: 0.5,
                }
            },
            yaxis: {
                title: "Počet na 100 tisíc obyvatel",
                automargin: true,
                tickformat: ".f",
            },
            hovermode: "x unified",
            showlegend: true,
            legend: {
                orientation: "h",
                xanchor: "center",
                x: 0.5,
                y: -0.42,
            },
            height: 600,
        }

        const data = [
            nakazeni_0_17, nakazeni_18_29, nakazeni_30_39, nakazeni_40_49, nakazeni_50_59, nakazeni_60_69,
            nakazeni_70_79, nakazeni_80
        ];

        const config = {
            responsive: true,
            displayModeBar: false,
        }

        Plotly.newPlot("plotly-nakazeni", data, layout, config);

        // force relayout to rescale y
        range = {'xaxis.range[0]': layout.xaxis.range[0].toISOString(), 'xaxis.range[1]': layout.xaxis.range[1].toISOString()}
        Plotly.relayout('plotly-nakazeni', range);
    }

    function grafNakazeniRescale(e) {
        if (e.target.layout.stopRescale === true) {
            e.target.layout.stopRescale = false;
            return;
        }

        var rangeX = e.target.layout.xaxis.range
        var data = e.target.data
        var maxY = 0;

        for (var i = 0; i < data.length; i++) {
            var dataX = data[i].x
            for (var j = 0; j < dataX.length; j++) {
                if (dataX[j] >= rangeX[0] && dataX[j] <= rangeX[1]) {
                    var dataY = data[i].y
                    if (dataY[j] > maxY) {
                        maxY = dataY[j];
                    }
                }
            }
        }

        Plotly.relayout('plotly-nakazeni', {'yaxis.range[0]': 0, 'yaxis.range[1]': maxY * 1.05, 'stopRescale': true});
    }

    grafNakazeni();

    $('#plotly-nakazeni').on("plotly_relayout", function (e) {
        grafNakazeniRescale(e);
    });

</script>
{%- endmacro %}
