{% macro graf_ockovani_celkem(data) -%}
<div id="plotly-ockovani-celkem"></div>

<script>
    function grafOckovaniCelkem() {
        const ockovani_castecne = {
            x: [{% for idx, row in data.iterrows() %}"{{ idx }}",{% endfor %}],
            y: [{% for idx, row in data.iterrows() %}{{ row['ockovani_castecne'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "Očkovaní (alespoň jedna dávka)",
            hovertemplate: "%{y}"
        }

        const ockovani_plne = {
            x: [{% for idx, row in data.iterrows() %}"{{ idx }}",{% endfor %}],
            y: [{% for idx, row in data.iterrows() %}{{ row['ockovani_plne'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "Plně očkovaní (dokončené základní schéma)",
            hovertemplate: "%{y}"
        }

        const ockovani_3 = {
            x: [{% for idx, row in data.iterrows() %}"{{ idx }}",{% endfor %}],
            y: [{% for idx, row in data.iterrows() %}{{ row['ockovani_3'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "Očkovaní posilující dávkou",
            hovertemplate: "%{y}"
        }

        const ockovani_4 = {
            x: [{% for idx, row in data.iterrows() %}"{{ idx }}",{% endfor %}],
            y: [{% for idx, row in data.iterrows() %}{{ row['ockovani_4'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "Očkovaní 2. posilující dávkou",
            hovertemplate: "%{y}"
        }

        const layout = {
            title: "Celkový počet očkovaných",
            autosize: true,
            xaxis: {
                title: "Datum [den]",
                type: "date",
                tickformat: "%-d.%-m.%Y",
            },
            yaxis: {
                title: "Počet osob",
                automargin: true,
                tickformat: '.f',
            },
            hovermode: "x unified",
            showlegend: true,
            legend: {
                orientation: "h",
                xanchor: "center",
                x: 0.5,
                y: -0.15,
            },
            height: 600,
        }

        const data = [ockovani_castecne, ockovani_plne, ockovani_3];

        const config = {
            responsive: true,
            displayModeBar: false,
        }

        Plotly.newPlot("plotly-ockovani-celkem", data, layout, config);
    }

    grafOckovaniCelkem();
</script>
{%- endmacro %}
