{% macro graf_ockovani_orp(data) -%}
<div id="graf-ockovani-orp"></div>

<script>
    function grafOckovaniOrp() {
        let width = $("#graf-ockovani-orp").width() - 75;

        const layout = {
            mapbox: {
                style: 'white-bg',
                center: {lon: 15.4784, lat: 49.8203},
                zoom: 12.3 - Math.log(490000 / width),
            },
            height: width * 0.64,
            margin: {t: 0, r: 0, b: 0, l: 0},
        };

        const data = [{
            type: "choroplethmapbox",
            locations: [{% for idx, row in data.iterrows() %}"{{ row[0] }}",{% endfor %}],
            z: [{% for idx, row in data.iterrows() %}{{ row[1] }},{% endfor %}],
            text: [{% for idx, row in data.iterrows() %}"{{ row[2] }}",{% endfor %}],
            hoverinfo: "text+z",
            colorscale: "Greens",
            colorbar: {
                ticksuffix: ' %'
            },
            hovertemplate: '%{z} %<extra>%{text}</extra>',
            reversescale: true,
            geojson: "https://data.gov.cz/attachments/%C4%8Dl%C3%A1nky/kartogram-choropleth/data/orp-simple.json",
        }];

        const config = {
            responsive: true,
            displayModeBar: false,
            scrollZoom: false,
        }

        Plotly.newPlot("graf-ockovani-orp", data, layout, config);
    }

    $(window).resize(function() {
        grafOckovaniOrp();
    });

    grafOckovaniOrp();
</script>
{%- endmacro %}
