{% macro graf_srovnani_ockovani_neockovani(data) -%}
<div id="plotly-srovnani-ockovani-neockovani"></div>

<script>
    function grafSrovnaniOckovaniNeockovani() {
        const hovertemplate = "%{y:.1f} (počet: %{customdata[0]}, v populaci: %{customdata[1]:.1f} %)";

        const traces = [
            {
                x: [{% for vekova_skupina in data.vekova_skupina %}"{{ vekova_skupina }}",{%  endfor %}],
                y: [{% for value in data.nakazeni_bez_norm %}{{ value }}, {% endfor %}],
                customdata: [{% for idx, row in data.iterrows() %}{0: {{ row['nakazeni_bez'] }}, 1: {{ 100 * row['populace_bez_zastoupeni'] }}},{% endfor %}],
                name: "Neočkovaní",
                type: "bar",
                hovertemplate: hovertemplate,
            },
            {
                x: [{% for vekova_skupina in data.vekova_skupina %}"{{ vekova_skupina }}",{%  endfor %}],
                y: [{% for value in data.nakazeni_plne_norm %}{{ value }}, {% endfor %}],
                customdata: [{% for idx, row in data.iterrows() %}{0: {{ row['nakazeni_plne'] }}, 1: {{ 100 * row['populace_plne_zastoupeni'] }}},{% endfor %}],
                text: [{% for value in data.nakazeni_plne_ratio %}"{{ ((value | format_decimal) + '×') if value else '' }}", {% endfor %}],
                textposition: 'outside',
                name: "Plně očkovaní",
                type: "bar",
                hovertemplate: hovertemplate,
            },
            {
                x: [{% for vekova_skupina in data.vekova_skupina %}"{{ vekova_skupina }}",{%  endfor %}],
                y: [{% for value in data.nakazeni_posilujici_norm %}{{ value }}, {% endfor %}],
                customdata: [{% for idx, row in data.iterrows() %}{0: {{ row['nakazeni_posilujici'] }}, 1: {{ 100 * row['populace_posilujici_zastoupeni'] }}},{% endfor %}],
                text: [{% for value in data.nakazeni_posilujici_ratio %}"{{ ((value | format_decimal) + '×') if value else '' }}", {% endfor %}],
                textposition: 'outside',
                name: "Očkovaní posilující",
                type: "bar",
                hovertemplate: hovertemplate,
            },
            {
                x: [{% for vekova_skupina in data.vekova_skupina %}"{{ vekova_skupina }}",{%  endfor %}],
                y: [{% for value in data.hospitalizace_bez_norm %}{{ value }}, {% endfor %}],
                customdata: [{% for idx, row in data.iterrows() %}{0: {{ row['hospitalizace_bez'] }}, 1: {{ 100 * row['populace_bez_zastoupeni'] }}},{% endfor %}],
                name: "Neočkovaní",
                type: "bar",
                hovertemplate: hovertemplate,
            },
            {
                x: [{% for vekova_skupina in data.vekova_skupina %}"{{ vekova_skupina }}",{%  endfor %}],
                y: [{% for value in data.hospitalizace_plne_norm %}{{ value }}, {% endfor %}],
                customdata: [{% for idx, row in data.iterrows() %}{0: {{ row['hospitalizace_plne'] }}, 1: {{ 100 * row['populace_plne_zastoupeni'] }}},{% endfor %}],
                text: [{% for value in data.hospitalizace_plne_ratio %}"{{ ((value | format_decimal) + '×') if value else '' }}", {% endfor %}],
                textposition: 'outside',
                name: "Plně očkovaní",
                type: "bar",
                hovertemplate: hovertemplate,
            },
            {
                x: [{% for vekova_skupina in data.vekova_skupina %}"{{ vekova_skupina }}",{%  endfor %}],
                y: [{% for value in data.hospitalizace_posilujici_norm %}{{ value }}, {% endfor %}],
                customdata: [{% for idx, row in data.iterrows() %}{0: {{ row['hospitalizace_posilujici'] }}, 1: {{ 100 * row['populace_posilujici_zastoupeni'] }}},{% endfor %}],
                text: [{% for value in data.hospitalizace_posilujici_ratio %}"{{ ((value | format_decimal) + '×') if value else '' }}", {% endfor %}],
                textposition: 'outside',
                name: "Očkovaní posilující",
                type: "bar",
                hovertemplate: hovertemplate,
            },
            {
                x: [{% for vekova_skupina in data.vekova_skupina %}"{{ vekova_skupina }}",{%  endfor %}],
                y: [{% for value in data.hospitalizace_jip_bez_norm %}{{ value }}, {% endfor %}],
                customdata: [{% for idx, row in data.iterrows() %}{0: {{ row['hospitalizace_jip_bez'] }}, 1: {{ 100 * row['populace_bez_zastoupeni'] }}},{% endfor %}],
                name: "Neočkovaní",
                type: "bar",
                hovertemplate: hovertemplate,
            },
            {
                x: [{% for vekova_skupina in data.vekova_skupina %}"{{ vekova_skupina }}",{%  endfor %}],
                y: [{% for value in data.hospitalizace_jip_plne_norm %}{{ value }}, {% endfor %}],
                customdata: [{% for idx, row in data.iterrows() %}{0: {{ row['hospitalizace_jip_plne'] }}, 1: {{ 100 * row['populace_plne_zastoupeni'] }}},{% endfor %}],
                text: [{% for value in data.hospitalizace_jip_plne_ratio %}"{{ ((value | format_decimal) + '×') if value else '' }}", {% endfor %}],
                textposition: 'outside',
                name: "Plně očkovaní",
                type: "bar",
                hovertemplate: hovertemplate,
            },
            {
                x: [{% for vekova_skupina in data.vekova_skupina %}"{{ vekova_skupina }}",{%  endfor %}],
                y: [{% for value in data.hospitalizace_jip_posilujici_norm %}{{ value }}, {% endfor %}],
                customdata: [{% for idx, row in data.iterrows() %}{0: {{ row['hospitalizace_jip_posilujici'] }}, 1: {{ 100 * row['populace_posilujici_zastoupeni'] }}},{% endfor %}],
                text: [{% for value in data.hospitalizace_jip_posilujici_ratio %}"{{ ((value | format_decimal) + '×') if value else '' }}", {% endfor %}],
                textposition: 'outside',
                name: "Očkovaní posilující",
                type: "bar",
                hovertemplate: hovertemplate,
            },
        ];

        const buttons = [
            {
                label: "Nakažení",
                args: [
                    {
                        "visible": [true, true, true, false, false, false, false, false, false],
                    }, {
                        "title": "Počet nově nakažených na 100 tisíc obyvatel ve skupině"
                    }
                ],
                method: "update"
            },
            {
                label: "Hospitalizovaní",
                args: [
                    {
                        "visible": [false, false, false, true, true, true, false, false, false],
                    }, {
                        "title": "Počet nově hospitalizovaných na 100 tisíc obyvatel ve skupině"
                    }
                ],
                method: "update"
            },
            {
                label: "Hospitalizovaní na JIP",
                args: [
                    {
                        "visible": [false, false, false, false, false, false, true, true, true],
                    }, {
                        "title": "Počet nově hospitalizovaných na JIP na 100 tisíc obyvatel ve skupině"
                    }
                ],
                method: "update"
            },
        ];
        buttons[0]["activate"] = true;

        const layout = {
            barmode: "group",
            autosize: true,
            xaxis: {
                title: "Věková skupina",
            },
            yaxis: {
                title: "Počet na 100 tisíc obyvatel ve skupině",
                automargin: true,
                tickformat: ".f",
            },
            hovermode: "x unified",
            showlegend: true,
            legend: {
                orientation: "h",
                xanchor: "center",
                x: 0.5,
                y: -0.18,
            },
            height: 600,
            updatemenus: [{
                direction: "right",
                xanchor: "center",
                yanchor: "center",
                x: 0.5,
                y: 1.5,
                type: "buttons",
                showactive: true,
                buttons: buttons,
            }]
        };

        const config = {
            responsive: true,
            displayModeBar: false,
        };

        Plotly.newPlot("plotly-srovnani-ockovani-neockovani", traces, layout, config);

        Plotly.update("plotly-srovnani-ockovani-neockovani", buttons[0].args[0], buttons[0].args[1]);
    }

    grafSrovnaniOckovaniNeockovani();
</script>
{%- endmacro %}
