{% macro graf_testy_orp(data) -%}
<div id="plotly-testy-orp"></div>

<script>
    function grafTestyOrp() {
        let width = $("#plotly-testy-orp").width() - 63;

        const layout = {
            mapbox: {
                style: 'white-bg',
                center: {lon: 15.4784, lat: 49.8203},
                zoom: 15.6 - Math.log2(490000 / width),
            },
            height: width * 0.64,
            margin: {t: 0, r: 0, b: 0, l: 0},
        };

        const data = [{
            type: "choroplethmapbox",
            locations: [{% for idx, row in data.iterrows() %}"{{ row[0] }}",{% endfor %}],
            z: [{% for idx, row in data.iterrows() %}{{ row[1] }},{% endfor %}],
            customdata: [{% for idx, row in data.iterrows() %}{{ row[2] }},{% endfor %}],
            text: [{% for idx, row in data.iterrows() %}"{{ row[3] }}",{% endfor %}],
            colorscale: [[0, '#f2f2f2'], [1, '#ffcc00']],
            colorbar: {
                ticksuffix: ' %',
                thickness: 5,
            },
            hovertemplate: '%{z:.1f} % (%{customdata} testů)<extra>%{text}</extra>',
            geojson: "{{ url_for('static',filename='geojson/orp-simple.json') }}"
        }];

        const config = {
            responsive: true,
            displayModeBar: false,
            scrollZoom: false,
        }

        Plotly.newPlot("plotly-testy-orp", data, layout, config);
    }

    $(window).resize(function() {
        grafTestyOrp();
    });

    grafTestyOrp();
</script>
{%- endmacro %}
