{% macro graf_umrti(data) -%}
<div id="graf-umrti"></div>

<script>
$('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
    var target = $(e.target).attr("href")

    {% set data_ostatni = data.filter(like = 'ostatni', axis=0) %}
    {% set data_80 = data.filter(like = '80+', axis=0) %}
    {% set data_70 = data.filter(like = '70-79', axis=0) %}
    {% set data_60 = data.filter(like = '60-69', axis=0) %}

    if(target==="#deaths_graph") {
        const umrti = {
            x: [{% for idx, row in data_ostatni.iterrows() %}"{{ idx[1] }}",{% endfor %}],
            y: [{% for idx, row in data_ostatni.iterrows() %}{{ row['pocet_umrti_norm'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "Ostatní",
        }

        const umrti_80 = {
            x: [{% for idx, row in data_80.iterrows() %}"{{ idx[1] }}",{% endfor %}],
            y: [{% for idx, row in data_80.iterrows() %}{{ row['pocet_umrti_norm'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "80+",
        }

        const umrti_70 = {
            x: [{% for idx, row in data_70.iterrows() %}"{{ idx[1] }}",{% endfor %}],
            y: [{% for idx, row in data_70.iterrows() %}{{ row['pocet_umrti_norm'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "70-79",
        }

        const umrti_60 = {
            x: [{% for idx, row in data_60.iterrows() %}"{{ idx[1] }}",{% endfor %}],
            y: [{% for idx, row in data_60.iterrows() %}{{ row['pocet_umrti_norm'] }},{% endfor %}],
            mode: "lines",
            type: "scatter",
            name: "60-69",
        }

        const layout = {
            title: "Počet úmrtí za týden",
            autosize: true,
            xaxis: {
                title: "Datum [týden]",
                type: "day",
                tickformat: "%-d.%-m.%Y",
                range: [new Date().setMonth(new Date().getMonth()-6), new Date()],
                rangeslider: true,
                rangeselector: {
                    buttons: [
                        {
                            count: 6,
                            label: "6 měsíců",
                            step: "month",
                            stepmode: "backward"
                        },
                        {
                            count: 1,
                            label: "1 rok",
                            step: "year",
                            stepmode: "backward"
                        },
                        {
                            label: "všechna data",
                            step: "all"
                        }
                    ],
                    xanchor: "center",
                    x: 0.5,
                }
            },
            yaxis: {
                title: "Počet na 100 000 obyvatel",
                automargin: true
            },
            showlegend: true,
            legend: {
                orientation: "h",
                xanchor: "center",
                x: 0.5,
                y: -0.4,
            },
            height: 700,
        }

        const data = [umrti_80, umrti_70, umrti_60, umrti];

        const config = {
            responsive: true,
            displayModeBar: false,
        }

        Plotly.newPlot("graf-umrti", data, layout, config);
    }
});
</script>
{%- endmacro %}
