{% extends 'base.html' %}

{% block title %}
    Očkování Flask App
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
{% endblock %}

{% block body %}
<div class="container margin-under-navbar">
    <div class="jumbotron">
        <h3>Informace o volných kapacitách místa {{ mesto }} </h3>

        {% if data %}
            <table class="table table-striped">
                <thead  class="thead-dark">
                <tr>
                    <th scope="col">Název</th>
                    <th scope="col">Město</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Kapacita</th>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr>
                        <td><a href="../misto/{{ item.nazev }}">{{ item.nazev }}</a></td>
                        <td><a href="../mesto/{{ item.mesto }}">{{ item.mesto }}</a></td>
                        <td>{{ item.datum }}</td>
                        <td>{{ item.pocet_mist }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            Žádná data!
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script>
        {# We store this variable so that we know what URL to use in AJAX calls #}
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
    </script>
{% endblock %}


{#
Note: you can also put css/js in 'base.html' if you want it to apply to all templates
which extend base.html (like this one)
#}

