{% extends 'base.html' %}

{% block title %}
    Očkování Flask App
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
{% endblock %}

{% block body %}
<h1>Informace o volných kapacitách místa {{ misto }} </h1>

    {% if data %}
    <div class="container-fluid p-5">
    <table class="table table-striped table-hover table-sm">
        <thead  class="thead-dark">
        <tr>
            <th>Název</th>
            <th>Město</th>
            <th>Datum</th>
            <th>Kapacita</th>
        </tr>
        </thead>
        {% for item in data %}
            <tr>
                <td><a href="../misto/{{ item.nazev }}">{{ item.nazev }}</a></td>
                <td><a href="../mesto/{{ item.mesto }}">{{ item.mesto }}</a></td>
                <td>{{ item.datum }}</td>
                <td>{{ item.kapacita }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
    {% else %}
        Žádná data!

    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script>
        {# We store this variable so that we know what URL to use in AJAX calls #}
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
    </script>
{% endblock %}


{#
Note: you can also put css/js in 'base.html' if you want it to apply to all templates
which extend base.html (like this one)
#}

