{% extends 'base.html' %}

{% block title %}
    Očkování Flask App
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
{% endblock %}

{% block body %}
<h1>Informace o volných kapacitách</h1>

    {% if volne_terminy %}
        {{ volne_terminy }}
    {% endif %}

    {% if data %}
    <div class="container-fluid p-5">
    <table class="table table-striped table-hover table-sm">
        <thead  class="thead-dark">
        <tr>
            <th>Table header</th>
            
        </tr>
        </thead>
        {% for item in data %}
            <tr>
                <td>{{ item.item }}</td>
                
            </tr>
        {% endfor %}
    </table>
    </div>
    {% else %}
        No Data!

    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script>
        {# We store this variable so that we know what URL to use in AJAX calls #}
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
    </script>
{% endblock %}


{#
Note: you can also put css/js in 'base.html' if you want it to apply to all templates
which extend base.html (like this one)
#}

