{% extends 'base.html' %}
{% from 'macros/tables/prehled_bezregistrace.html' import ockovaci_mista_bez_registrace %}

{% block title %}
Očkování bez registrace |
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <div class="alert alert-danger" role="alert">
            <p class="mb-0">
                Tato tabulka již není aktualizována - očkovací místa bez registrace najdete v
                <a href="{{ url_for('view.info_mista') }}" class="alert-link">přehledu očkovacích míst</a>
                s použitím filtru <i>bez registrace</i>.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <h3>Očkovací místa bez registrace</h3>
    </div>
</div>

{{ ockovaci_mista_bez_registrace(without_registration) }}

{% endblock %}
