{% extends 'base.html' %}

{% block title %}
    Grafy |
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h3>Grafy vizualizující statistiky</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <div id="prijem"></div>
            </div>
            <div class="card-body">
                <div id="ockovano"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- Color pallete -->
    <script>
        var pallete = [
            '#1f77b4',  // muted blue
            '#ff7f0e',  // safety orange
            '#2ca02c',  // cooked asparagus green
            '#d62728',  // brick red
            '#9467bd',  // muted purple
            '#8c564b',  // chestnut brown
            '#e377c2',  // raspberry yogurt pink
            '#7f7f7f',  // middle gray
            '#bcbd22',  // curry yellow-green
            '#17becf'   // blue-teal
        ];
    </script>

    <!-- Prijem -->
    <script>
        var data = [
            {% for row in prijem %}
                {
                    {#x: [{% for item in row.datum %}"{{ item }}",{% endfor %}],#}
                    {#y: [{% for item in row.prijem %}"{{ item }}",{% endfor %}],#}
                    x: [{% for date in row.datum %}"{{ date }}",{%  endfor %}],
                    y: [{% for value in row.prijem %}{{ value }},{% endfor %}],
                    name: "{{ row.vyrobce }}",
                    type: "bar",
                    marker: {
                        color: pallete[{{ (loop.index - 1) % 10 }}]
                    }
                },
            {% endfor %}
        ]

        var layout = {
            title: "Přijaté vakcíny podle výrobce",
            barmode: "stack",
            autosize: true,
            xaxis: {
                title: "Datum [den]",
                type: "date",
                tickformat: "%-d.%-m.%Y",
                //dtick: 1000 * 60 * 60 * 24, // one day as a unit
                autorange: true,
                rangeslider: {},
                rangeselector: {
                    buttons: [
                        {
                            count: 7,
                            label: "1 týden",
                            step: "day",
                            stepmode: "backward"
                        },
                        {
                            count: 14,
                            label: "2 týdny",
                            step: "day",
                            stepmode: "backward"
                        },
                        {
                            count: 1,
                            label: "1 měsíc",
                            step: "month",
                            stepmode: "backward",
                        },
                        {
                            label: "všechna data",
                            step: "all"
                        }
                    ],
                    xanchor: "center",
                    x: 0.5,
                }
            },
            yaxis: {
                title: "Počet přijatých vakcín",
                automargin: true,
                tickformat: ",f",
            },
            showlegend: true,
            legend: {
                orientation: "h",
                xanchor: "center",
                x: 0.5,
                yanchor: "bottom",
                y: -0.5,
            },
            height: 700,
        }

        var config = {
            responsive: true,
            displayModeBar: false,
        }

        Plotly.newPlot('prijem', data, layout, config);
    </script>

    <!-- Ockovano -->
    <script>
        var data = [
            {% for row in ockovano %}
                {
                    x: [{% for date in row.datum %}"{{ date }}",{%  endfor %}],
                    y: [{% for value in row.ockovano %}{{ value }},{% endfor %}],
                    name: "{{ row.vyrobce }}",
                    mode: "lines+markers",
                    type: "scatter",
                    marker: {
                        // In case index is greater than length of colors list - start from index 0
                        color: pallete[{{ (loop.index - 1) % 10 }}]
                    }
                },
            {% endfor %}
        ]

        // Add buttons to switch between visibility of traces
        var buttons = [];
        for (var i = 0; i < data.length; i++) {
            var traceVisibility = new Array(data.length).fill(false);
            traceVisibility[i] = true;

            buttons[i] = {
                label: data[i].name,
                args: [
                    // Update data
                    {
                        "visible": traceVisibility,
                    },

                    // Update layout
                    {
                        "title": "Počet použitých vakcín od výrobce: " + data[i].name
                    }
                ],
                method: "update"
            };
        }

        // Add button to show all traces
        buttons.push(
            {
                label: "Všichni výrobci",
                args: [
                    {
                        "visible": new Array(data.length).fill(true),
                    },
                    {
                        "title": "Počet použitých vakcín všech výrobců",
                    }
                ],
                method: "update"
            }
        );

        // Activate first button - only visually (action is activated by update of div)
        buttons[0]["activate"] = true;

        var layout = {
            title: "Počet vakcín použitých pro očkování pro jednotlivé výrobce",
            autosize: true,
            xaxis: {
                title: "Datum [den]",
                type: "date",
                tickformat: "%-d.%-m.%Y",
                //dtick: 1000 * 60 * 60 * 24, // one day as a unit
                autorange: true,
                rangeslider: {},
                rangeselector: {
                    buttons: [
                        {
                            count: 7,
                            label: "1 týden",
                            step: "day",
                            stepmode: "backward"
                        },
                        {
                            count: 14,
                            label: "2 týdny",
                            step: "day",
                            stepmode: "backward"
                        },
                        {
                            count: 1,
                            label: "1 měsíc",
                            step: "month",
                            stepmode: "backward",
                        },
                        {
                            label: "všechna data",
                            step: "all"
                        }
                    ],
                    xanchor: "center",
                    x: 0.5,
                    y: 1.1,
                }
            },
            yaxis: {
                title: "Počet vakcín použitých pro očkování",
                automargin: true,
                tickformat: ",f",
            },
            showlegend: true,
            legend: {
                orientation: "h",
                xanchor: "center",
                x: 0.5,
                yanchor: "bottom",
                y: -0.5,
            },
            height: 700,
            updatemenus: [{
                direction: "right",
                xanchor: "center",
                yanchor: "center",
                y: 1.4,
                x: 0.5,
                type: "buttons",
                showactive: true,
                buttons: buttons,
            }]
        }

        var config = {
            responsive: true,
            displayModeBar: false,
        }

        // Render original chart
        Plotly.newPlot("ockovano", data, layout, config);

        // Activate first button action
        Plotly.update("ockovano", buttons[0].args[0], buttons[0].args[1]);
    </script>
{% endblock %}