{% extends 'base.html' %}

{% block title %}
    Grafy |
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h3>Grafy vizualizující statistiky</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <div id="prijem"></div>
            </div>
            <div class="card-body">
                <div id="ockovano"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- Prijem -->
    <script>
        var data = [
            {% for row in prijem %}
                {
                    {#x: [{% for item in row.datum %}"{{ item }}",{% endfor %}],#}
                    {#y: [{% for item in row.prijem %}"{{ item }}",{% endfor %}],#}
                    x: [{% for date in row.datum %}"{{ date }}",{%  endfor %}],
                    y: [{% for value in row.prijem %}{{ value }},{% endfor %}],
                    name: "{{ row.vyrobce }}",
                    type: "bar"
                },
            {% endfor %}
        ]

        var layout = {
            title: "Přijaté vakcíny podle výrobce",
            barmode: "stack",
            autosize: true,
            xaxis: {
                title: "Datum [den]",
                type: "date",
                tickformat: "%-d.%-m.%Y",
                //dtick: 1000 * 60 * 60 * 24, // one day as a unit
                autorange: true,
                rangeslider: {
                    //    range: ["{{ start_date }}", "{{ end_date }}"],
                },
                rangeselector: {
                    buttons: [
                        {
                            count: 7,
                            label: "1 týden",
                            step: "day",
                            stepmode: "backward"
                        },
                        {
                            count: 14,
                            label: "2 týdny",
                            step: "day",
                            stepmode: "backward"
                        },
                        {
                            count: 1,
                            label: "1 měsíc",
                            step: "month",
                            stepmode: "backward",
                        },
                        {
                            label: "všechna data",
                            step: "all"
                        }
                    ],
                    xanchor: "center",
                    x: 0.5,
                }
            },
            yaxis: {
                title: "Počet přijatých vakcín",
                automargin: true,
                tickformat: ",f",
            },
            showlegend: true,
            legend: {
                orientation: "h",
                xanchor: "center",
                x: 0.5,
                yanchor: "bottom",
                y: -0.5,
            },
            height: 700,
        }

        var config = {
            responsive: true,
            displayModeBar: false,
        }

        Plotly.newPlot('prijem', data, layout, config);
    </script>

    <!-- Ockovano -->
    <script>
        var data = [
            {% for row in ockovano %}
                {
                    x: [{% for date in row.datum %}"{{ date }}",{%  endfor %}],
                    y: [{% for value in row.ockovano %}{{ value }},{% endfor %}],
                    name: "{{ row.vyrobce }}",
                    mode: "lines+markers",
                    type: "scatter",
                },
            {% endfor %}
        ]

        var layout = {
            title: "Počet vakcín použitých pro očkování pro jednotlivé výrobce",
            autosize: true,
            xaxis: {
                title: "Datum [den]",
                type: "date",
                tickformat: "%-d.%-m.%Y",
                //dtick: 1000 * 60 * 60 * 24, // one day as a unit
                autorange: true,
                rangeslider: {},
                rangeselector: {
                    buttons: [
                        {
                            count: 7,
                            label: "1 týden",
                            step: "day",
                            stepmode: "backward"
                        },
                        {
                            count: 14,
                            label: "2 týdny",
                            step: "day",
                            stepmode: "backward"
                        },
                        {
                            count: 1,
                            label: "1 měsíc",
                            step: "month",
                            stepmode: "backward",
                        },
                        {
                            label: "všechna data",
                            step: "all"
                        }
                    ],
                    xanchor: "center",
                    x: 0.5,
                }
            },
            yaxis: {
                title: "Počet vakcín použitých pro očkování",
                automargin: true,
                tickformat: ",f",
            },
            showlegend: true,
            legend: {
                orientation: "h",
                xanchor: "center",
                x: 0.5,
                yanchor: "bottom",
                y: -0.5,
            },
            height: 700,
        }

        var config = {
            responsive: true,
            displayModeBar: false,
        }

        Plotly.newPlot('ockovano', data, layout, config);
    </script>
{% endblock %}