{% extends 'base.html' %}

{% block title %}
Datová kvalita |
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h3>Datová kvalita</h3>
    </div>
</div>
<div class="alert alert-info alert-dismissible fade show" role="alert">
    <p class="mb-0">
        <b>TENTO PŘEHLED NENÍ URČEN PRO VEŘEJNOST. UKAZUJE MOŽNÉ CHYBY V DATECH.</b>
    </p>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Očkovaní vakcínami, které nejsou v ČR</h5>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-sm mb-0">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="w-20 text-center">Datum</th>
                            <th scope="col" class="w-20 text-center">Vakcína</th>
                            <th scope="col" class="w-20 text-center">Kód zařízení</th>
                            <th scope="col" class="w-20 text-center">Název zařízení</th>
                            <th scope="col" class="w-20 text-center">Věková skupina</th>
                            <th scope="col" class="w-20 text-center">Počet</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in susp_vaccination_type %}
                        <tr>
                            <td>{{ row['datum'] }}</td>
                            <td>{{ row['vakcina'] }}</td>
                            <td>{{ row['zarizeni_kod'] }}</td>
                            <td>{{ row['zarizeni_nazev'] }}</td>
                            <td>{{ row['vekova_skupina'] }}</td>
                            <td>{{ row['pocet'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Očkovaní mimo SPC (jen Pfizer povoluje očkovat skupinu 16+)</h5>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-sm mb-0">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="w-20 text-center">Datum</th>
                            <th scope="col" class="w-20 text-center">Vakcína</th>
                            <th scope="col" class="w-20 text-center">Kód zařízení</th>
                            <th scope="col" class="w-20 text-center">Název zařízení</th>
                            <th scope="col" class="w-20 text-center">Věková skupina</th>
                            <th scope="col" class="w-20 text-center">Počet</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in vaccinated_age %}
                        <tr>
                            <td>{{ row['datum'] }}</td>
                            <td>{{ row['vakcina'] }}</td>
                            <td>{{ row['zarizeni_kod'] }}</td>
                            <td>{{ row['zarizeni_nazev'] }}</td>
                            <td>{{ row['vekova_skupina'] }}</td>
                            <td>{{ row['pocet'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Vakcíny skladem, ale neočkuje se</h5>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-sm mb-0">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="w-20 text-center">Poměr očkovaných/skladem</th>
                            <th scope="col" class="w-20 text-center">Skladem počet</th>
                            <th scope="col" class="w-20 text-center">Počet očkovaných</th>
                            <th scope="col" class="w-20 text-center">Název zařízení</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in susp_storage_vacc %}
                        <tr>
                            <td>{{ row['pomer'] }}</td>
                            <td>{{ row['vakciny_skladem_pocet'] }}</td>
                            <td>{{ row['ockovani_pocet_davek'] }}</td>
                            <td>{{ row['nazev'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Přijaté vakcíny, ale neočkuje se</h5>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-sm mb-0">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="w-20 text-center">Přijaté vakcíny počet</th>
                            <th scope="col" class="w-20 text-center">Počet očkovaných</th>
                            <th scope="col" class="w-20 text-center">Název zařízení</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in susp_vaccination %}
                        <tr>
                            <td>{{ row['vakciny_prijate_pocet'] }}</td>
                            <td>{{ row['ockovani_pocet_davek'] }}</td>
                            <td>{{ row['nazev'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Očkujeme, ale nemáme vakcíny</h5>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-sm mb-0">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="w-20 text-center">Přijaté vakcíny počet</th>
                            <th scope="col" class="w-20 text-center">Počet očkovaných</th>
                            <th scope="col" class="w-20 text-center">Název zařízení</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in susp_vaccination_accepted %}
                        <tr>
                            <td>{{ row['vakciny_prijate_pocet'] }}</td>
                            <td>{{ row['ockovani_pocet_davek'] }}</td>
                            <td>{{ row['nazev'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Očkujeme, ale nemáme lidi v rezervačním systému (za poslední měsíc a poměr více, než 1:2)</h5>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-sm mb-0">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="w-20 text-center">Název zařízení</th>
                            <th scope="col" class="w-20 text-center">NRPZS kód</th>
                            <th scope="col" class="w-20 text-center">Počet očkovaných mimo rezervace</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in susp_reservation_vaccination %}
                        <tr>
                            <td>{{ row['nazev'] }}</td>
                            <td>{{ row['nrpzs_kod'] }}</td>
                            <td>{{ row['sum30_mimo_rezervace'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Máme "volná místa", ale nikoho neočkujeme</h5>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-sm mb-0">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="w-20 text-center">Název zařízení</th>
                            <th scope="col" class="w-20 text-center">NRPZS kód</th>
                            <th scope="col" class="w-20 text-center">Datum</th>
                            <th scope="col" class="w-20 text-center">Počet rezervací</th>
                            <th scope="col" class="w-20 text-center">Počet očkování</th>
                            <th scope="col" class="w-20 text-center">Poměr</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in susp_reservation_vaccination_low %}
                        <tr>
                            <td>{{ row['nazev'] }}</td>
                            <td>{{ row['nrpzs_kod'] }}</td>
                            <td>{{ row['datum'] }}</td>
                            <td>{{ row['pocet_rezervaci'] }}</td>
                            <td>{{ row['ockovani'] }}</td>
                            <td>{{ row['pomer'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
