{% extends 'base.html' %}

{% block title %}
{{ kraj.nazev }} |
{% endblock %}

{% block body %}
    <h2 class="text-center">Očkování v kraji {{ kraj.nazev }}</h2>

    {% if nejvolnejsi %}
        <div class="row">
            <h3>Nejvolnější očkovací místa</h3>
        </div>
        
        <div class="row">
            <table class="table table-bordered table-striped table-sm">
                <thead  class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Název očkovacícho místa</th>
                    <th scope="col" class="text-center">Volná místa v dalších {{ days }} dnech</th>
                </tr>
                </thead>
                <tbody>
                {% for item in nejvolnejsi %}
                    <tr>
                        <td><a href="../misto/{{ item.id }}">{{ item.nazev }}</a></td>
                        <td class="text-right">
                            <span class="badge badge-pill badge-{{ 'success' if item.pocet_mist > 100 else 'warning' if item.pocet_mist > 0 else 'danger' }}">
                                {{ item.pocet_mist }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% elif data %}
        <div class="alert alert-warning w-100" role="alert">
            V tomto kraji v následujících {{ days }} dnech není volné žádné místo na očkování.
        </div>

    {% endif %}

    <div class="row">
        <h3>Očkovací místa</h3>
    </div>

    <div class="row">
    {% if data %}
        <table class="table table-bordered table-striped table-sm">
            <thead  class="thead-dark">
            <tr>
                <th scope="col" class="text-center">Název</th>
                <th scope="col" class="text-center">Okres</th>
                <th scope="col" class="text-center">Kraj</th>
                <th scope="col" class="text-center">Datum</th>
                <th scope="col" class="text-center">Volná místa</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td><a href="../misto/{{ item.id }}">{{ item.nazev }}</a></td>
                    <td><a href="../okres/{{ item.okres }}">{{ item.okres }}</a></td>
                    <td>{{ item.kraj }}</td>
                    <td class="text-right">{{ item.datum.strftime('%a %d. %m. %Y') }}</td>
                    <td class="text-right">
                        <span class="badge badge-pill badge-{{ 'success' if item.pocet_mist > 100 else 'warning' if item.pocet_mist > 0 else 'danger' }}">
                            {{ item.pocet_mist }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning w-100" role="alert">
            Pro tento kraj zatím nemáme žádná data. <a href="javascript:history.back()" class="alert-link">Zpět</a>.
        </div>
    {% endif %}
    </div>
{% endblock %}



