{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}
{{ kraj.nazev }} |
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h3>Kraj: {{ kraj.nazev }} </h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card mb-4">
            <div class="card-header" id="cards">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#info">Základní údaje</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#vaccines">Stav vakcín</a>
                    </li>
                </ul>
            </div>

            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="info">
                        <div class="row mb-n3">
                            <div class="col-md-4 col-lg-3 mb-3 py-2">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="card-title">Počet obyvatel</h6>
                                        <p class="card-text text-right metrics-number">{{ metriky.pocet_obyvatel_celkem | format_number }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3 mb-3 py-2">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="card-title">Očkovaní oběma dáv.</h6>
                                        <p class="card-text text-right metrics-number">{{ metriky.ockovani_pocet_2 | format_number }}</p>
                                        <p class="card-text text-right metrics-delta">
                                            <span class="{{ metriky.ockovani_pocet_2_zmena_den | number_color }}">
                                                {{ metriky.ockovani_pocet_2_zmena_den | format_number_delta }}
                                            </span> /
                                            <span class="{{ metriky.ockovani_pocet_2_zmena_tyden | number_color }}">
                                                {{ metriky.ockovani_pocet_2_zmena_tyden | format_number_delta }}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3 mb-3 py-2">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="card-title">Očkováno dávek</h6>
                                        <p class="card-text text-right metrics-number">{{ metriky.ockovani_pocet | format_number }}</p>
                                        <p class="card-text text-right metrics-delta">
                                            <span class="{{ metriky.ockovani_pocet_zmena_den | number_color }}">
                                                {{ metriky.ockovani_pocet_zmena_den | format_number_delta }}
                                            </span> /
                                            <span class="{{ metriky.ockovani_pocet_zmena_tyden | number_color }}">
                                                {{ metriky.ockovani_pocet_zmena_tyden | format_number_delta }}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-lg-3 mb-3 py-2">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="card-title">
                                            Přibližně skladem
                                            <i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="auto"
                                               title="Počet dávek skladem.<br>Údaj je počítám z předchozích sloupců a může vykazovat velké nepřesnosti!">
                                            </i>
                                        </h6>
                                        <p class="card-text text-right metrics-number">{{ 1 | format_number }}</p>
                                        <p class="card-text text-right metrics-delta">
                                            <span>
                                                {{ 1 | format_number_delta }}
                                            </span> /
                                            <span>
                                                {{ 1 | format_number_delta }}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {{ macros.metrika('Čekající ve frontě', metriky.registrace_fronta, delta_day=metriky.registrace_fronta_zmena_den, color='rev') }}
                            <div class="col-md-4 col-lg-3 mb-3 py-2">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="card-title">Čekající ve frontě</h6>
                                        <p class="card-text text-right metrics-number">{{ metriky.registrace_fronta | format_number }}</p>
                                        <p class="card-text text-right metrics-delta">
                                            <span class="{{ metriky.registrace_fronta_zmena_den | number_color_rev }}">
                                                {{ metriky.registrace_fronta_zmena_den | format_number_delta }}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3 mb-3 py-2">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="card-title">Čekající s rezervací</h6>
                                        <p class="card-text text-right metrics-number">{{ metriky.rezervace_cekajici | format_number }}</p>
                                        <p class="card-text text-right metrics-delta">
                                            <span>
                                                {{ metriky.rezervace_cekajici_zmena_den | format_number_delta }}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3 mb-3 py-2">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="card-title">Čekání na rezervaci</h6>
                                        <p class="card-text text-right metrics-number">{{ metriky.registrace_prumer_cekani | format_decimal }} týdne</p>
                                        <p class="card-text text-right metrics-delta">
                                            <span class="{{ metriky.registrace_prumer_cekani_zmena_den | number_color_rev }}">
                                                {{ metriky.registrace_prumer_cekani_zmena_den | format_decimal_delta }} týdne
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3 mb-3 py-2">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="card-title">Týdenní úspěšnost</h6>
                                        <p class="card-text text-right metrics-number">{{ metriky.registrace_tydenni_uspesnost | format_number }} %</p>
                                        <p class="card-text text-right metrics-delta">
                                            <span class="{{ metriky.registrace_tydenni_uspesnost_zmena_den | number_color }}">
                                                {{ metriky.registrace_tydenni_uspesnost_zmena_den | format_number_delta }} %
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="vaccines">
                        {{ macros.stav_vakcin(vaccines) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4>Očkovací místa v kraji</h4>
    </div>
</div>
{{ macros.prehled_mist(mista, days) }}
{% endblock %}



