{% macro prehled_mist(centers, days) -%}
<div class="row">
    <div class="col">
        {% if centers %}
        <table class="table table-bordered table-striped table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">Název</th>
                <th scope="col" class="text-center">Okres</th>
                <th scope="col" class="text-center">Kraj</th>
                <th scope="col" class="text-center">
                    Ve frontě
                    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
                       title="Počet registrovaných čekajících na rezervaci konkrétního termínu (přibližně odpovídá čekajícím na SMS s PIN2).">
                    </i>
                </th>
                <th scope="col" class="text-center">
                    Čekání na rezervaci v týdnech
                    <i class="fas fa-info-circle" data-html="true" data-toggle="tooltip" data-placement="auto"
                       title="Průměrná doba mezi registrací a rezervací konkrétního termínu za posledních 7 dní (přibližně odpovídá čekání na SMS s PIN2).<br>Červená (>2), žlutá (>1), zelená (>0).">
                    </i>
                </th>
                <th scope="col" class="text-center">
                    Týdnů k naočkování registrovaných
                    <i class="fas fa-exclamation-triangle" data-html="true" data-toggle="tooltip" data-placement="auto"
                       title="Odhadovaný počet týdnů potřebný k naočkování lidí ve frontě 1. dávkou při rychlostí očkování podle posledních 7 dnů. Data o očkování se doplňují zpětně a u nových míst chybí úplně, proto číslo berte jako orientační!<br>Červená (>4), žlutá (>2), zelená (>0).">
                    </i>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in centers %}
            <tr>
                <td><a href="{{ url_for('view.info_misto', misto_id=item.id) }}">{{ item.nazev }}</a></td>
                <td>
                    {% if request.path.startswith('/okres') %}
                    {{ item.okres }}
                    {% else %}
                    <a href="{{ url_for('view.info_okres', okres_name=item.okres) }}">{{ item.okres }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if request.path.startswith('/kraj') %}
                    {{ item.kraj }}
                    {% else %}
                    <a href="{{ url_for('view.info_kraj', kraj_name=item.kraj) }}">{{ item.kraj }}</a>
                    {% endif %}
                </td>
                <td class="text-right">
                    {{ item.registrace_fronta | format_number }}
                </td>
                <td class="text-center">
                    <span class="badge badge-pill badge-{{ 'light' if item.registrace_prumer_cekani == None else 'success' if item.registrace_prumer_cekani <= 7 else 'warning' if item.registrace_prumer_cekani <= 14 else 'danger' }}">
                        {{ (None if item.registrace_prumer_cekani == None else (item.registrace_prumer_cekani / 7)) | format_decimal }}
                    </span>
                </td>
                <td class="text-center">
                    <span class="badge badge-pill badge-{{ 'light' if item.ockovani_odhad_cekani == None else 'success' if item.ockovani_odhad_cekani <= 14 else 'warning' if item.ockovani_odhad_cekani <= 28 else 'danger' }}">
                        {{ (None if item.ockovani_odhad_cekani == None else (item.ockovani_odhad_cekani / 7)) | format_decimal }}
                    </span>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning w-100" role="alert">
            Zatím nemáme žádná data.
        </div>
        {% endif %}
    </div>
</div>
{%- endmacro %}

{% macro stav_vakcin(vaccines) -%}
<table class="table table-bordered table-striped table-sm" style="word-break: break-all">
    <thead class="thead-dark">
    <tr>
        <th scope="col" class="text-center">Výrobce</th>
        <th scope="col" class="text-center">
            Přijato
            <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
               title="Počet dávek přijatých na očkovací místo.">
            </i>
        </th>
        <th scope="col" class="text-center">
            Vydáno
            <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"
               title="Počet dávek převedených na jiné očkovací místo.">
            </i>
        </th>
        <th scope="col" class="text-center">
            Očkováno
            <i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="auto"
               data-html="true"
               title="Počet vyočkovaných dávek.<br>Dataset spotřeba vakcín vykazuje velké zpoždění a nepřesnosti!">
            </i>
        </th>
        <th scope="col" class="text-center">
            Zničeno
            <i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="auto"
               data-html="true"
               title="Počet zničených dávek.<br>Dataset spotřeba vakcín vykazuje velké zpoždění a nepřesnosti!">
            </i>
        </th>
        <th scope="col" class="text-center">
            Skladem
            <i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="auto"
               data-html="true"
               title="Počet dávek skladem.<br>Údaj je počítán z předchozích sloupců a může vykazovat velké nepřesnosti!">
            </i>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for idx, row in vaccines.iterrows() %}
    <tr>
        <td>{{ row['vyrobce'] }}</td>
        <td class="text-right">{{ row['prijato_celkem'] | format_number }}</td>
        <td class="text-right">{{ row['vydano'] | format_number }}</td>
        <td class="text-right">{{ row['pouzito'] | format_number }}</td>
        <td class="text-right">{{ row['znehodnoceno'] | format_number }}</td>
        <td class="text-right">{{ row['skladem'] | format_number }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot class="font-weight-bold">
    <tr>
        <td>Celkem</td>
        <td class="text-right">{{ vaccines['prijato_celkem'].sum() | format_number }}</td>
        <td class="text-right">{{ vaccines['vydano'].sum() | format_number }}</td>
        <td class="text-right">{{ vaccines['pouzito'].sum() | format_number }}</td>
        <td class="text-right">{{ vaccines['znehodnoceno'].sum() | format_number }}</td>
        <td class="text-right">{{ vaccines['skladem'].sum() | format_number }}</td>
    </tr>
    </tfoot>
</table>
<p class="font-italic">
    Jde o orientační výpočet z distribuce a spotřeby vakcín. Dataset spotřeba vakcín vykazuje
    <strong>velké zpoždění a nepřesnosti!</strong>
</p>
{%- endmacro %}

{% macro metrika(name, number, delta_day=None, delta_week=None, decimal=False, unit='', multiply=1, divide=1, color=None, note=None, warning=None) -%}
<div class="col-md-4 col-lg-3 mb-3 py-2">
    <div class="card h-100">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9 col-xl-10 pr-0">
                    <h6 class="card-title ellipsis">
                        {{ name }}
                    </h6>
                </div>
                <div class="col pl-0 text-right">
                    <h6 class="card-title">
                        {% if note %}
                        <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto" data-html="true" title="{{ note }}"></i>
                        {% endif %}
                        {% if warning %}
                        <i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="auto" data-html="true" title="{{ warning }}"></i>
                        {% endif %}
                    </h6>
                </div>
            </div>
            {% if decimal %}
            <p class="card-text text-right metrics-number">{{ (number if number == None else ((number * multiply) / divide)) | format_decimal }} {{ unit }}</p>
            <p class="card-text text-right metrics-delta">
                {% if delta_day != None %}
                <span class="{{ (delta_day | number_color) if color == 'std' else ((delta_day | number_color_rev) if color == 'rev' else delta_day) }}"
                      data-toggle="tooltip" data-placement="auto" title="Změna za 1 den">
                    {{ ((delta_day * multiply) / divide) | format_decimal_delta }}
                </span>
                {% endif %}
                {% if delta_week != None %}
                /
                <span class="{{ (delta_week | number_color) if color == 'std' else ((delta_week | number_color_rev) if color == 'rev' else delta_week) }}"
                      data-toggle="tooltip" data-placement="auto" title="Změna za 7 dní">
                    {{ ((delta_week * multiply) / divide) | format_decimal_delta }}
                </span>
                {% endif %}
                {% if delta_day != None or delta_week != None %}
                {{ unit }}
                {% endif %}
            </p>
            {% else %}
            <p class="card-text text-right metrics-number">{{ number | format_number }} {{ unit }}</p>
            <p class="card-text text-right metrics-delta">
                {% if delta_day != None %}
                <span class="{{ (delta_day | number_color) if color == 'std' else ((delta_day | number_color_rev) if color == 'rev' else delta_day) }}"
                      data-toggle="tooltip" data-placement="auto" title="Změna za 1 den">
                    {{ delta_day | format_number_delta }}
                </span>
                {% endif %}
                {% if delta_week != None %}
                /
                <span class="{{ (delta_week | number_color) if color == 'std' else ((delta_week | number_color_rev) if color == 'rev' else delta_week) }}"
                      data-toggle="tooltip" data-placement="auto" title="Změna za 7 dní">
                    {{ delta_week | format_number_delta }}
                </span>
                {% endif %}
                {% if delta_day != None or delta_week != None %}
                {{ unit }}
                {% endif %}
            </p>
            {% endif %}
        </div>
    </div>
</div>
{%- endmacro %}