{% macro prehled_mist(centers, days) -%}
    <div class="row">
        <div class="col">
            {% if centers %}
            <table class="table table-bordered table-striped table-sm">
                <thead  class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Název</th>
                    <th scope="col" class="text-center">Okres</th>
                    <th scope="col" class="text-center">Kraj</th>
                    <th scope="col" class="text-center">Ve frontě <i class="fas fa-info-circle" data-html="true" data-toggle="tooltip" data-placement="auto"
                                       title="Počet čekajících ve frontě před závorou na SMS s PIN2 (výběr termínu). <br />Zelená (0-500), žlutá (500-5000), červená (nad 5000)" /></th>
                    <th scope="col" class="text-center">S termínem <i class="fas fa-info-circle" data-html="true" data-toggle="tooltip" data-placement="auto"
                                       title="Počet lidí s vybraným termínem na daném místě od zítřka. <br />" /></th>
                    <th scope="col" class="text-center">Očkovaných za 7 dní <i class="fas fa-exclamation-triangle" data-html="true" data-toggle="tooltip" data-placement="auto"
                                       title="Počet podaných dávek za posledních 7 dní. <br />Data o očkování jsou zpětně doplńována, proto číslo berte jako orientační.<br />Data o očkování obsahují pouze kód zdravotního střediska nrpzs. Pokud očkovací místo spadá pod větší středisko, číslo ukazuje na počet očkování v celém středisku." /></th>
    <!--                <th scope="col" class="text-center">-->
    <!--                    Volná místa-->
    <!--                    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="auto"-->
    <!--                       title="Počet volných míst na následujících {{ days }} dní. Některá očkovací místa ale neumožňují obsadit všechna volná místa!"></i>-->
    <!--                </th>-->
                </tr>
                </thead>
                <tbody>
                {% for item in centers %}
                    <tr>
                        <td><a href="{{ url_for('view.info_misto', misto_id=item.id) }}">{{ item.nazev }}</a></td>
                        <td>
                            {% if request.path.startswith('/okres') %}
                                {{ item.okres }}
                            {% else %}
                                <a href="{{ url_for('view.info_okres', okres_name=item.okres) }}">{{ item.okres }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if request.path.startswith('/kraj') %}
                                {{ item.kraj }}
                            {% else %}
                                <a href="{{ url_for('view.info_kraj', kraj_name=item.kraj) }}">{{ item.kraj }}</a>
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <span class="badge badge-pill badge-{{ 'success' if item.pocet_fronta < 500 else 'warning' if item.pocet_fronta < 5000 else 'danger' }}">
                                {{ item.pocet_fronta }}
                            </span>
                        </td>
                        <td class="text-right">
                            <span class="badge badge-pill">
                                {{ item.pocet_rezervace_f }}
                            </span>
                        </td>
                        <td class="text-right">
                            <span class="badge badge-pill">
                                {{ 'Bez dat' if item.pocet_ockovanych_tyden == None else item.pocet_ockovanych_tyden }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-warning w-100" role="alert">
                Zatím nemáme žádná data.
            </div>
            {% endif %}
        </div>
    </div>
{%- endmacro %}