{% extends 'base.html' %}
{% from 'macros/tables/prehled_mist.html' import prehled_mist %}

{% block title %}
Očkovací místa |
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-auto">
        <h3>Všechna očkovací místa</h3>
    </div>
    <div class="col-auto ml-auto">
        <a class="btn btn-primary {{ 'active' if request.path == '/mapa' else '' }}" href="{{ url_for('view.mapa') }}">
            Zobrazit na mapě
        </a>
    </div>
</div>

{{ prehled_mist(mista, days) }}
{% endblock %}
