{% extends 'base.html' %}
{% from 'macros/tables/prehled_mist.html' import prehled_mist %}

{% block title %}
Očkovací místa |
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h3>Všechna očkovací místa</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search fa-fw"></i></span>
            </div>
            <input id="centers-searchbox" type="text" class="form-control" placeholder="Hledat...">
        </div>
    </div>
</div>

{{ prehled_mist(mista, days) }}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
      $("#centers-searchbox").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#centers-table tbody tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
{% endblock %}

