{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <h3>Očkovací místa</h3>
    </div>

    <div class="row">
    {% if ockovaci_mista %}
        <table class="table table-bordered table-striped table-sm">
            <thead  class="thead-dark">
            <tr>
                <th scope="col" class="text-center">Název</th>
                <th scope="col" class="text-center">Okres</th>
                <th scope="col" class="text-center">Kraj</th>
                <th scope="col" class="text-center">Volná&nbsp;místa (příštích&nbsp;10&nbsp;dní)</th>
            </tr>
            </thead>
            <tbody>
            {% for item in ockovaci_mista %}
                <tr>
                    <td><a href="./misto/{{ item.id }}">{{ item.nazev }}</a></td>
                    <td><a href="./okres/{{ item.okres }}">{{ item.okres }}</a></td>
                    <td><a href="./kraj/{{ item.kraj }}">{{ item.kraj }}</a></td>
                    <td class="text-right">
                        <span class="badge badge-pill badge-{{ 'success' if item.pocet_mist > 100 else 'warning' if item.pocet_mist > 0 else 'danger' }}">
                            {{ item.pocet_mist }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning w-100" role="alert">
            Zatím nemáme žádná data.
        </div>
    {% endif %}
    </div>
{% endblock %}

