{% extends 'base.html' %}

{% block title %}
{{ misto.nazev }} |
{% endblock %}

{% block body %}
<div class="row">
    <h3>Očkovací místo: {{ misto.nazev }} </h3>
</div>

<div class="card row mb-4">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#info">Informace o místě</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#vaccination">Stav vakcín</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#registration">Stav registrací</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="info">
                <!--
                  <div class="row mb-3">
                      <a href="https://reservatic.com/watchdogs/new?locale=cs&operation_id={{ misto.operation_id }}&place_id={{ misto.place_id }}&service_id={{ misto.service_id }}"
                         target="_blank" class="btn btn-primary" title="Nejdříve je třeba mít vytvořený účet na Reservatic.com">
                          Hlídat volná místa
                      </a>
                      {% if misto.nazev_odkaz %}
                      <a href="https://reservatic.com/cs/public_services/{{ misto.nazev_odkaz }}/calendar?operation_id={{ misto.operation_id }}&place_id={{ misto.place_id }}"
                         target="_blank" class="btn btn-primary ml-1">
                          Rezervovat
                      </a>
                      {% endif %}
                  </div>
                -->
                <div class="row">
                    <div class="col-sm-6 py-2">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">Podrobnosti o očkovacím místě</h5>
                                <dl>
                                    <dt>Adresa</dt>
                                    <dd>{{misto.adresa}}</dd>
                                    <dt>Bezbariérový přístup</dt>
                                    <dd>{{ 'Ano' if misto.bezbarierovy_pristup else 'Ne' }}</dd>
                                </dl>
                                <a href="https://cfa.uzis.cz/vaccination-centers/{{misto.id}}" class="btn btn-primary"
                                   target="_blank">
                                    Oficiální stránka místa
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 py-2">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">Mapa</h5>
                                <div id="center-map" style="height:250px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="vaccination">
                {% if total %}
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-sm" style="word-break: break-all">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center w-auto"></th>
                            {% for operation in total['all'].keys() %}
                            <th scope="col" class="text-center">{{ operation }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="col" class="text-center">Výrobce</th>
                            {% for operation in total['all'].keys() %}
                            <th scope="col" class="text-center">Dávky</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for type in ['Pfizer', 'Moderna', 'AstraZeneca'] %}
                        <tr>
                            <td>{{ type }}</td>
                            {% for operation in total[type] %}
                            <td class="text-right">{{ total[type][operation]['davky'] }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot class="font-weight-bold">
                        <tr>
                            <td>Celkem</td>
                            {% for operation in total['all'] %}
                            <td class="text-right">{{ total['all'][operation]['davky'] }}</td>
                            {% endfor %}
                        </tr>
                        </tfoot>
                    </table>
                </div>
                {% endif %}
                <i>Jde o orientační výpočet z distribuce a spotřeby vakcín. Dataset spotřeba vakcín vykazuje <b>velké zpoždění a nepřesnosti!!!</b></i>
            </div>
            <div class="tab-pane" id="registration">
                <div class="row">
                    <div class="col-sm-6 py-2">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title" data-toggle="tooltip" data-placement="bottom"
                                    title="Dataset registrace - čekající na PIN2">Čekající na přidělení PIN2 (výběr termínu)</h5>
                                {% if registrace_info %}
                                <table class="table table-bordered table-striped table-sm">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" class="text-center">Věková<br>skupina</th>
                                        <th scope="col" class="text-center">Povolání</th>
                                        <th scope="col" class="text-center">Počet</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in registrace_info %}
                                    <tr>
                                        <td class="td-ellipsis">{{ item.vekova_skupina }}</td>
                                        <td class="td-ellipsis" data-toggle="tooltip" data-placement="bottom" title="{{ item.povolani }}">
                                            {{ item.povolani }}
                                        </td>
                                        <td class="td-ellipsis text-right">
                                            <span class="badge badge-pill badge-{{ 'danger' if item.pocet_mist > 100 else 'warning' if item.pocet_mist > 0 else 'success' }}">
                                                {{ item.pocet_mist }}
                                            </span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <div class="alert alert-warning w-100" role="alert">
                                    Pro toto místo zatím nemáme žádná data o rezervacích.
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 py-2">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">7 denní úspěšnost</h5>
                                {% if metriky_info %}
                                <table class="table table-bordered table-striped table-sm">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" class="text-center">Věková<br>skupina</th>
                                        <th scope="col" class="text-center">Povolání</th>
                                        <th scope="col" class="text-center">Poměr</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in metriky_info %}
                                    <tr>
                                        <td class="td-ellipsis">{{ item.vekova_skupina }}</td>
                                        <td class="td-ellipsis" data-toggle="tooltip" data-placement="bottom" title="{{ item.povolani }}">
                                            {{ item.povolani }}
                                        </td>
                                        <td class="td-ellipsis text-right" data-toggle="tooltip" data-placement="bottom"
                                            title="Dataset registrace - registrace za 7 dní s PIN2/celkem - {{ item.rezervace_nove }} / {{ item.rezervace_celkem }}">
                                            {% if item.pomer %}
                                            <span class="badge badge-pill badge-{{ 'success' if item.pomer > 50 else 'warning' if item.pomer > 5 else 'danger' }}">
                                                {{ item.pomer }} %
                                            </span>
                                            {% else %}
                                            <span class="badge badge-pill badge-danger">0 %</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <div class="alert alert-warning w-100" role="alert">
                                    Pro toto místo zatím nemáme žádná data o rezervacích.
                                </div>
                                {% endif %}
                                <p>Za posledních 7 dní jde o poměr lidí s konkrétním očkovacím termínem a všech registrovaných (opět za 7 dnů).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% if data %}
    <table class="table table-bordered table-striped table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">Název</th>
            <th scope="col" class="text-center">Okres</th>
            <th scope="col" class="text-center">Kraj</th>
            <th scope="col" class="text-center">Datum</th>
            <!-- <th scope="col" class="text-center">Volná místa</th> -->
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.nazev }}</td>
            <td><a href="../okres/{{ item.okres }}">{{ item.okres }}</a></td>
            <td><a href="../kraj/{{ item.kraj }}">{{ item.kraj }}</a></td>
            <td class="text-right">{{ item.datum | format_date_wd }}</td>
            <!-- <td class="text-right">
                <span class="badge badge-pill badge-{{ 'success' if item.pocet_mist > 100 else 'warning' if item.pocet_mist > 0 else 'danger' }}">
                    {{ item.pocet_mist }}
                </span>
            </td> -->
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-warning w-100" role="alert">
        Pro toto místo zatím nemáme žádná data. <a href="javascript:history.back()" class="alert-link">Zpět</a>.
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    var center = SMap.Coords.fromWGS84({{misto.longitude}}, {{misto.latitude}});
    var m = new SMap(JAK.gel("center-map"), center, 14);
    m.addControl(new SMap.Control.Sync());
    m.addDefaultLayer(SMap.DEF_BASE).enable();
    m.addDefaultControls();

    var layer = new SMap.Layer.Marker();
    m.addLayer(layer);
    layer.enable();

    var options = {};
    var marker = new SMap.Marker(center, "marker", options);
    layer.addMarker(marker);





</script>
{% endblock %}


