{% extends 'base.html' %}
{% from 'macros/tables/volne_vakciny.html' import volne_vakciny %}

{% block title %}
Nabídky očkování |
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-sm-auto">
        <h3>Nabídky očkování</h3>
    </div>
    <div class="col-12 col-sm-auto ml-auto">
        <a class="btn btn-sm btn-primary btn-block mb-2" href="{{ url_for('view.nabidky_mapa') }}">
            <i class="fas fa-map-marked-alt"></i>
            Zobrazit na mapě
        </a>
    </div>
</div>

{{ volne_vakciny(free_vaccines, free_vaccines_vaccine_options, kraj_options=kraj_options) }}

{% endblock %}
