{% extends 'base.html' %}

{% block title %}
Nápověda |
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h3>Co dělat, když…</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-body text-justify">
                <h5 class="card-title">Jak se registruji na očkování?</h5>
                <p class="card-text">
                    Navštivte web <a href="https://registrace.mzcr.cz/" target="_blank">https://registrace.mzcr.cz/</a>
                    a postupujte dle instrukcí.
                    Potřebovat budete telefonní číslo, na které Vám přijde SMS s ověřovacím kódem. Po jeho
                    zadání budete vyzvání k vyplnění osobních údajů a výběru preferovaného očkovacího místa.
                </p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body text-justify">
                <h5 class="card-title">Mohu již vybrané očkovací místo změnit?</h5>
                <p class="card-text">
                    Ministerstvo zdravotnictví nedoporučuje změnu očkovacího místa. Pokud to ale přesto chcete
                    udělat, stačí provést novou registraci. Stará registrace tím zanikne. Na novém místě ale
                    budete zařazení do fronty za posledního člověka stejného věku (a případně prioritní skupiny).
                </p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body text-justify">
                <h5 class="card-title">Přišla mi SMS s PIN2, co dál?</h5>
                <p class="card-text">
                    Navštivte stránky <a href="http://rezervace.mzcr.cz/" target="_blank">http://rezervace.mzcr.cz/</a>
                    a následujte instrukce pro rezervaci termínu.
                </p>
                <p class="card-text">
                    <strong>POZOR!</strong> Nezaměňte si rezervaci s novou registrací, při nové registraci byste
                    byli zařazeni opět na konec fronty.
                </p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body text-justify">
                <h5 class="card-title">Jsem ztracen(a), co mám dělat?</h5>
                <p class="card-text">
                    Zavolejte na linku 1221, kde Vám vše rádi vysvětlí a pomohou.
                </p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body text-justify">
                <h5 class="card-title">Kde najdu oficiální informace?</h5>
                <p class="card-text">
                    Pro oficiální informace od Ministerstva zdravotnictví se podívejte na
                    <a href="https://koronavirus.mzcr.cz/ockovani-proti-covid-19/"
                       target="_blank">https://koronavirus.mzcr.cz/ockovani-proti-covid-19/</a>,
                    další informace najdete také na vládním portálu <a href="https://covid.gov.cz/"
                                                                       target="_blank">https://covid.gov.cz/</a>.
                </p>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body text-justify">
                <h5 class="card-title">
                    Jak to celé funguje? (z ústních popisů a oficiálních informací, komentáře a korekce vítány)
                </h5>
                <div class="card-text">
                    <p>
                        Na začátku se člověk registruje na adrese
                        <a href="https://registrace.mzcr.cz" target="_blank">https://registrace.mzcr.cz</a> a zadá svůj
                        telefon k ověření. Po zadání kontrolní SMS zadá osobní údaje, zvolí si očkovací místo a tím
                        dokončí registraci. V případě, že patří do speciální skupiny, zadá také registrační kód.
                    </p>
                    <p>
                        Tím se dostává na konkrétní očkovací místo, které disponuje tzv. "závorou". Ta určuje oblast
                        lidí, kteří mají právo vybrat si termín očkování. Se závorou je většinou manipulováno tak, aby
                        nedocházelo k přeplnění, tzn. jakmile člověk dostane PIN2/zvací SMS, tak pro něj existuje termín
                        v místě, které si vybral.
                        <br>
                        POZOR!!! Např. v Praze toto ale neplatí a pro 100 volných míst se rozesílá 110-120 SMS. Pak je
                        systém o tom, kdo se první zaregistruje, v okamžiku naplnění kapacit ostatním přijde SMS, že
                        jejich vstup zanikl. Toto nám přijde jako lepší varianta, protože se rychleji zvyšuje zaplněnost
                        jednotlivých míst. Na druhou stranu mrtvé duše zůstanou v systému.
                        <i>
                            V tuto chvíli nedisponujeme informací o hodnotě těchto závěr, ale je možné vidět velikost
                            front na jednotlivých očkovacích místech.
                        </i>
                    </p>
                    <p>
                        Bohužel ne každý reaguje na SMS zprávu okamžitě a systém nyní nabízí 3 dny (časové okno), po
                        které je dané místo rezervováno a nemůže být přiděleno jiným. Následně přijde upozornění na
                        konec časového okna a poté o jeho konci. Informaci, kterou my na webu zobrazujeme, je bez
                        zohlednění těchto skutečností, neboť na ně nemáme data. Dalším faktorem je to, že očkovací místa
                        si mohou vybrat, jaké skupiny lidí pustí k výběru očkovacích časů, tj. lidé dle věku,
                        zdravotníky, učitele, vše ale striktně dle věku. Proto informace na tomto webu jsou orientační,
                        aktualizované jednou denně a bez dalších dodatečných informací ze strany státu není možné
                        zjistit opravdu "volná" místa.
                        <br>
                        <b>
                            Pokud do tří dnů nedojde k výběru místa, okno zaniká. Zvací SMS přijde nejvýše 3x, pokud
                            vyprší i třetí časové okno, registrace zaniká a je třeba se registrovat znovu.[*]
                        </b>
                    </p>
                    <p>
                        POZOR! pokud dojde k přeregistraci, tak se člověk dostane na čekací listinu daného místa na
                        konec lidí stejného věku v dané kategorii a záleží, jak často a jak se nastaví závora. Může se
                        tak stát, že se člověk přeregistruje na místo, které deklaruje více volných míst, ale bude na
                        něm ve frontě více zájemců. Proto také sledujte počty čekajících a jejich úspěšnost.
                    </p>
                    <p class="mb-0">
                        * <a href="https://covid.gov.cz/situace/registrace-na-ockovani/zaregistrovala-jsem-se-na-ockovani-ale-nemam-kam-zadat-pin2-nebo-mi"
                           target="_blank">https://covid.gov.cz/situace/registrace-na-ockovani/zaregistrovala-jsem-se-na-ockovani-ale-nemam-kam-zadat-pin2-nebo-mi</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body text-justify">
                <h5 class="card-title">Odkud bere tento web data?</h5>
                <div class="card-text">
                    <p>
                        Z neveřejných dat Centrálního Řídícího Týmu COVID-19.
                    </p>
                    <p>
                        Z oficiálních otevřených dat MZČR:
                    </p>
                    <ul>
                        <li>Oficiální data o očkovaných [*]</li>
                        <li>Oficiální data o distribuci vakcín [*]</li>
                        <li>Oficiální data o spotřebě vakcín [*]</li>
                        <li>Oficiální informace o rezervacích a registracích [*]</li>
                        <li>Oficiální data o nakažených [*]</li>
                        <li>Oficiální data o úmrtích [*]</li>
                        <li>Oficiální data pro modelování [*]</li>
                        <li>Data o populaci - Český statistický úřad</li>
                    </ul>
                    <p class="mb-0">
                        * Komenda M., Karolyi M., Bulhart V., Žofka J., Brauner T., Hak J., Jarkovský J., Mužík J.,
                        Blaha M., Kubát J., Klimeš D., Langhammer P., Daňková Š., Májek O., Bartůňková M., Dušek L.
                        COVID‑19: Přehled aktuální situace v ČR. Onemocnění aktuálně [online].
                        Praha: Ministerstvo zdravotnictví ČR, 2020 [cit. 28.02.2021].
                        Dostupné z: <a href="https://onemocneni-aktualne.mzcr.cz/covid-19"
                                       target="_blank">https://onemocneni-aktualne.mzcr.cz/covid-19</a>.
                        Vývoj: společné pracoviště ÚZIS ČR a IBA LF MU. ISSN 2694-9423.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

