{% extends 'base.html' %}

{% block title %}
Odkazy |
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h3>Odkazy</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <h4>Oficiální zdroje</h4>
        <ul>
            <li><a href="https://registrace.mzcr.cz/" target="_blank">Registrace na očkování</a></li>
            <li><a href="https://koronavirus.mzcr.cz/ockovani-proti-covid-19/" target="_blank">Web ministerstva zdravotnictví</a></li>
            <li><a href="https://covid.gov.cz/" target="_blank">Covid portál</a></li>
        </ul>

        <h4>Další zdroje</h4>
        <ul>
            <li><a href="https://www.omnicalculator.com/health/fronty-vakcinu-ceska-republica" target="_blank">Kalkulačka fronty na vakcínu</a></li>
        </ul>
    </div>
</div>
{% endblock %}

