{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col">
        <a class="btn btn-primary"
           href="https://raw.githubusercontent.com/msusicky/msusicky.github.io/master/ockovani-covid/dump_kapacity_csv.csv"
           target="_blank">Volná místa po dnech v CSV
        </a>
        <a class="btn btn-primary"
           href="https://raw.githubusercontent.com/msusicky/msusicky.github.io/master/ockovani-covid/dump_kapacity.csv"
           target="_blank">Volná místa po dnech v CSV s JSON daty
        </a>
    </div>
</div>

{% endblock %}

