{% extends 'base.html' %}
{% from 'macros/tables/prehled_praktici.html' import stav_ockovani_praktici %}
{% from 'macros/tables/volne_vakciny.html' import volne_vakciny %}

{% block title %}
Praktici |
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-auto">
        <h3>Očkování praktickými lékaři</h3>
    </div>
    <div class="col-auto ml-auto">
        <a class="btn btn-primary" href="{{ url_for('view.praktici_mapa') }}">
            Zobrazit na mapě
        </a>
    </div>
</div>

{{ stav_ockovani_praktici(vaccination_doctors) }}
{% endblock %}
