{% extends 'base.html' %}
{% from 'macros/tables/volne_vakciny.html' import volne_vakciny %}

{% block title %}
Praktici - administrace |
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h3>Volné vakcíny - administrace</h3>
    </div>
</div>

{% if session.get('error') %}
<div class="row">
    <div class="col">
        <div class="alert alert-danger" role="alert">
            <p class="mb-0">
                {{ session.get('error') | safe }}
            </p>
        </div>
    </div>
</div>
{% endif %}

{% if session.get('success') %}
<div class="row">
    <div class="col">
        <div class="alert alert-success" role="alert">
            <p class="mb-0">
                {{ session.get('success') | safe }}
            </p>
        </div>
    </div>
</div>
{% endif %}

<div class="row mb-3">
    {% if user %}
    <div class="col-12">
        <h4>Editace: {{ user.nazev_cely }}</h4>
    </div>

    <div class="col-12">
        <form action="{{ url_for('view.praktici_admin_edit') }}" name="free-vaccines" method="post">
            <h5>Kontakt</h5>
            <div class="row">
                <div class="col-auto">
                    <table class="table table-borderless table-sm">
                        <tr>
                            <th>Telefon</th>
                            <td><input type="text" name="telefon" value="{{ user.telefon }}"/></td>
                        </tr>
                        <tr>
                            <th>E-mail</th>
                            <td><input type="text" name="email" value="{{ user.email }}"/></td>
                        </tr>
                    </table>
                </div>
            </div>

            <h5>Nabídky</h5>
            <div class="custom-control custom-switch mb-2" style="display: inline-block">
                <input id="neregistrovani" type="checkbox" name="neregistrovani" value="1" class="custom-control-input" {{ "checked" if user.neregistrovani else "" }}/>
                <label class="custom-control-label" for="neregistrovani" >očkujeme i neregistrované pacienty</label>
            </div>

            <div class="table-responsive mb-3">
                <table id="centers-table" class="table table-bordered table-striped table-sm mb-0">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">Nemoc</th>
                        <th scope="col" class="text-center">Vakcína</th>
                        <th scope="col" class="text-center">Nabízíme</th>
                        <th scope="col" class="text-center">Dospělí</th>
                        <th scope="col" class="text-center">Děti</th>
                        <th scope="col" class="text-center">Poznámka</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vaccine in user_vaccines %}
                    <tr>
                        <td>
                            <input type="hidden" name="nemoc[]" value="{{ vaccine.nemoc }}"/>
                            {{ vaccine.nemoc }}
                        </td>
                        <td>
                            <input type="hidden" name="typ_vakciny[]" value="{{ vaccine.vyrobce }}"/>
                            {{ vaccine.vyrobce }}
                        </td>
                        <td class="text-center">
                            <input type="checkbox" name="aktivni[]" value="{{ loop.index }}" {{ "checked" if vaccine.aktivni else "" }}/>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" name="dospeli[]" value="{{ loop.index }}" {{ "checked" if (vaccine.dospeli is none and vaccine.druh_zarizeni_kod != 321) or vaccine.dospeli else "" }}/>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" name="deti[]" value="{{ loop.index }}" {{ "checked" if (vaccine.deti is none and vaccine.druh_zarizeni_kod == 321) or vaccine.deti else "" }}/>
                        </td>
                        <td>
                            <input type="text" name="poznamka[]" value="{{ '' if vaccine.poznamka is none else vaccine.poznamka }}" style="width: 100%"/>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-primary">Aktualizovat</button>
            <a class="btn btn-warning" href="{{ url_for('view.praktici_admin_logout') }}">Odhlásit se</a>
        </form>
    </div>

    {% else %}
    <div class="col-12">
        <h4>Editace: přihlášení</h4>
    </div>
    <div class="col-sm-6 mb-3">
        <div class="card card-body bg-light">
            <h5>Registrovat se</h5>
            <form action="{{ url_for('view.praktici_admin_register') }}" method="post">
                <div class="form-group row">
                    <label for="register-id" class="col-lg-4 col-form-label">Kód ordinace / IČO</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="register-id" name="id">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-8">
                        <button type="submit" class="btn btn-primary">Registrovat</button>
                    </div>
                </div>
            </form>
            <p class="card-text font-italic text-justify">
                Zadejte IČO (8 číslic) nebo v případě více ordinací "úplný kód"
                z <a href="https://nrpzs.uzis.cz/index.php?pg=vyhledavani-poskytovatele--pro-poskytovatele"
                     target="_blank">Národního registru poskytovatelů zdravotních služeb</a>
                (karta "Detailní záznamy na ÚZIS ČR").
            </p>
            <p class="card-text font-italic text-justify">
                Po registraci se Vám zobrazí heslo pro další úpravy.
            </p>
        </div>
    </div>
    <div class="col-sm-6 mb-3">
        <div class="card card-body bg-light">
            <h5>Editovat své záznamy</h5>
            <form action="{{ url_for('view.praktici_admin_login') }}" method="post">
                <div class="form-group row">
                    <label for="login-id" class="col-lg-4 col-form-label">Kód ordinace / IČO</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="login-id" name="id">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="login-passwd" class="col-lg-4 col-form-label">Heslo</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="login-passwd" name="passwd">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-8">
                        <button type="submit" class="btn btn-primary">Přihlásit</button>
                    </div>
                </div>
            </form>
            <p class="card-text font-italic text-justify">
                Pokud jste heslo zapomněli, či máte jiný problém, napište nám na info@opendatalab.cz.
            </p>
        </div>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col">
        <h4>Přehled nabídek</h4>
        {{ volne_vakciny(all_vaccines, free_vaccines_illness_options, kraj_options=kraj_options, admin_mode=True) }}
    </div>
</div>
{% endblock %}
