{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}
Statistiky |
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h3>Souhrnné statistiky očkování</h3>
    </div>
</div>

<div class="row mb-3">
    <div class="col text-justify">
        {% if metriky %}
        <p>
            K datu poslední aktualizace ({{ last_update }}) bylo kompletně naočkováno
            <strong>{{ metriky.ockovani_pocet_plne | format_number }}</strong> lidí a
            <strong>{{ metriky.ockovani_pocet_castecne | format_number }}</strong> lidí alespoň jednou dávkou.
            Celkem bylo podáno <strong>{{ metriky.ockovani_pocet_davek | format_number }}</strong> dávek.
            Ve frontě na rezervaci aktuálně čeká <strong>{{ metriky.registrace_fronta | format_number }}</strong> registrovaných
            zájemců a konkrétní termín má přiděleno dalších <strong>{{ metriky.rezervace_cekajici | format_number }}</strong> lidí.
        </p>
        <h5>Nedovolené zjednodušení</h5>
        <p>
            Pokud bychom očkovali průměrnou rychlostí posledního týdne, pak skončíme (70 % dospělé populace, 2 dávky)
            <strong>{{ end_date | format_date }}</strong>.
            Nicméně mnoho očkovacích center bude ještě vybudováno a dodávky vakcín se výrazně zvýší.
        </p>
        {% endif %}
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row px-2 mb-n2">
                    {{ macros.metrika('Počet obyvatel (18+)', metriky.pocet_obyvatel_dospeli) }}
                    {{ macros.metrika('Částečně očkovaní', metriky.ockovani_pocet_castecne, delta_day=metriky.ockovani_pocet_castecne_zmena_den, delta_week=metriky.ockovani_pocet_castecne_zmena_tyden, color='std', info='Počet lidí očkovaných alespoň jednou dávkou.') }}
                    {{ macros.metrika('Podíl částečně očkovaných', metriky.ockovani_pocet_castecne, delta_day=metriky.ockovani_pocet_castecne_zmena_den, delta_week=metriky.ockovani_pocet_castecne_zmena_tyden, color='std', decimal=True, unit='%', multiply=100, divide=metriky.pocet_obyvatel_dospeli, info='Podíl alespoň částečně očkovaných dospělých obyvatel.') }}
                    {{ macros.metrika('Plně očkovaní', metriky.ockovani_pocet_plne, delta_day=metriky.ockovani_pocet_plne_zmena_den, delta_week=metriky.ockovani_pocet_plne_zmena_tyden, color='std', info='Počet lidí plně očkovaných (obě dávky).') }}
                    {{ macros.metrika('Podíl plně očkovaných', metriky.ockovani_pocet_plne, delta_day=metriky.ockovani_pocet_plne_zmena_den, delta_week=metriky.ockovani_pocet_plne_zmena_tyden, color='std', decimal=True, unit='%', multiply=100, divide=metriky.pocet_obyvatel_dospeli, info='Podíl plně očkovaných dospělých obyvatel.') }}
                    {{ macros.metrika('Přijaté dávky', metriky.vakciny_prijate_pocet, delta_day=metriky.vakciny_prijate_pocet_zmena_den, delta_week=metriky.vakciny_prijate_pocet_zmena_tyden, color='std', info='Počet dávek přijatých na očkovací centra.') }}
                    {{ macros.metrika('Očkované dávky', metriky.ockovani_pocet_davek, delta_day=metriky.ockovani_pocet_davek_zmena_den, delta_week=metriky.ockovani_pocet_davek_zmena_tyden, color='std', info="Počet dávek očkovaných očkovacími centry a praktickými lékaři podle vykázaných očkování.") }}
                    {{ macros.metrika('Přibližně skladem', metriky.vakciny_skladem_pocet, delta_day=metriky.vakciny_skladem_pocet_zmena_den, delta_week=metriky.vakciny_skladem_pocet_zmena_tyden, warning='Odhadovaný počet dávek skladem.<br>Údaj je počítán z dat o distribuci, spotřebě vakcín a očkovaných lidech. Jednotlivé datové sady mají různá zpoždění a nepřesnosti, proto údaj berte jako orientační.') }}
                    {{ macros.metrika('Čekající ve frontě', metriky.registrace_fronta, delta_day=metriky.registrace_fronta_zmena_den, delta_week=metriky.registrace_fronta_zmena_tyden, color='rev', info='Počet registrovaných čekajících na rezervaci konkrétního termínu (přibližně odpovídá čekajícím na SMS s PIN2).') }}
                    {{ macros.metrika('Čekající s rezervací', metriky.rezervace_cekajici, delta_day=metriky.rezervace_cekajici_zmena_den, delta_week=metriky.rezervace_cekajici_zmena_tyden, info='Počet registrovaných s rezervovaným konkrétním termínem na očkování.') }}
                    {{ macros.metrika('Dnešní kapacita', metriky.rezervace_kapacita, delta_day=metriky.rezervace_kapacita_zmena_den, delta_week=metriky.rezervace_kapacita_zmena_tyden, color='std', info='Dnešní celková kapacita pro očkování.<br>Získáno z maximální kapacity uvedené v rezervačním systému.') }}
                    {{ macros.metrika('Čekání na rezervaci', metriky.registrace_prumer_cekani, delta_day=metriky.registrace_prumer_cekani_zmena_den, delta_week=metriky.registrace_prumer_cekani_zmena_tyden, decimal=True, unit='týdne', divide=7, color='rev', info='Průměrná doba mezi registrací a rezervací konkrétního termínu za posledních 7 dní (přibližně odpovídá čekání na SMS s PIN2). Pokud přednost dostávají prioritní skupiny, odpovídá tento údaj spíše jejich čekání.') }}
                    {{ macros.metrika('Doba ve frontě', metriky.registrace_fronta_prumer_cekani, delta_day=metriky.registrace_fronta_prumer_cekani_zmena_den, delta_week=metriky.registrace_fronta_prumer_cekani_zmena_tyden, decimal=True, unit='týdne', divide=7, color='rev', info='Průměrná doba strávená čekajícími ve frontě k dnešnímu dni.') }}
                    {{ macros.metrika('7denní úspěšnost', metriky.registrace_tydenni_uspesnost, delta_day=metriky.registrace_tydenni_uspesnost_zmena_den, delta_week=metriky.registrace_tydenni_uspesnost_zmena_tyden, decimal=True, unit='%', multiply=100, color='std', info='Poměr počtu registrovaných za posledních 7 dní s vybraným termínem ku počtu všech registrovaných za posledních 7 dní.') }}
                    {{ macros.metrika('14denní úspěšnost', metriky.registrace_14denni_uspesnost, delta_day=metriky.registrace_14denni_uspesnost_zmena_den, delta_week=metriky.registrace_14denni_uspesnost_zmena_tyden, decimal=True, unit='%', multiply=100, color='std', info='Poměr počtu registrovaných za posledních 14 dní s vybraným termínem ku počtu všech registrovaných za posledních 14 dní.') }}
                    {{ macros.metrika('30denní úspěšnost', metriky.registrace_30denni_uspesnost, delta_day=metriky.registrace_30denni_uspesnost_zmena_den, delta_week=metriky.registrace_30denni_uspesnost_zmena_tyden, decimal=True, unit='%', multiply=100, color='std', info='Poměr počtu registrovaných za posledních 30 dní s vybraným termínem ku počtu všech registrovaných za posledních 30 dní.') }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" data-toggle="tooltip" data-placement="bottom"
                    title="Dataset očkování, data se postupně doplňují.">Počty očkovaných</h5>
                {{ macros.stav_ockovani(vaccinated) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title" data-toggle="tooltip" data-placement="bottom"
                    title="Dataset očkování, data se postupně doplňují.">Nejvíce naočkovaných za den</h5>
                {% if top5 %}
                <table class="table table-bordered table-striped table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="w-50 text-center">Datum</th>
                        <th scope="col" class="w-50 text-center">Očkováno</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in top5 %}
                    <tr>
                        <td class="text-right">{{ item.datum | format_date_wd }}</td>
                        <td class="text-right">{{ item.sum | format_number }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-warning w-100" role="alert">
                    Aktuálně nemáme žádná data. <a href="javascript:history.back()" class="alert-link">Zpět</a>.
                </div>
                {% endif %}
                <p class="card-text font-italic">5 dní s největším počtem očkovaných.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title" data-toggle="tooltip" data-placement="bottom"
                    title="Dataset očkování, data se postupně doplňují.">Nejvýkonnější místo</h5>
                {% if top5_place %}
                <table class="table table-bordered table-striped table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">Místo</th>
                        <th scope="col" class="text-center">Očkováno</th>
                        <th scope="col" class="text-center">Datum</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in top5_place %}
                    <tr>
                        <td>{{ item.zarizeni_nazev }}</td>
                        <td class="text-right">{{ item.sum | format_number }}</td>
                        <td class="text-right">{{ item.datum | format_date_wd }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-warning w-100" role="alert">
                    Aktuálně nemáme žádná data. <a href="javascript:history.back()" class="alert-link">Zpět</a>.
                </div>
                {% endif %}
                <p class="card-text font-italic">5 míst s největším počtem očkovaných za den.</p>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Počty vakcín</h5>
                {{ macros.stav_vakcin(vaccines) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}


