{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}
Statistiky |
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h3>Souhrnné statistiky očkování</h3>
    </div>
</div>

<div class="row mb-3">
    <div class="col text-justify">
        {% if vac_stats %}
        <p>
            K datu poslední aktualizace ({{ last_update }}) bylo naočkováno
            <strong>{{ vac_stats[0].sum_2 | format_number }}</strong> lidí oběma dávkami a
            <strong>{{ vac_stats[0].sum_1 | format_number }}</strong> lidí jednou dávkou.
            Celkem bylo podáno <strong>{{ vac_stats[0].sum | format_number }}</strong> dávek.
            Ve frontě na rezervaci aktuálně čeká <strong>{{ vac_stats[0].fronta | format_number }}</strong> lidí
            a konkrétní termín má přiděleno <strong>{{ vac_stats[0].termin | format_number }}</strong> lidí.
        </p>
        <h5>Nedovolené zjednodušení</h5>
        <p>
            Pokud bychom očkovali průměrnou rychlostí posledního týdne, pak skončíme (70 % dospělé populace, 2 dávky)
            <strong>{{ end_date | format_date }}</strong>.
            Nicméně mnoho očkovacích center bude ještě vybudováno a dodávky vakcín se výrazně zvýší.
        </p>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Počty vakcín</h5>
                {{ macros.stav_vakcin(vaccines) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title" data-toggle="tooltip" data-placement="bottom"
                    title="Dataset očkování, data se postupně doplňují.">Nejvíce naočkovaných za den</h5>
                {% if top5 %}
                <table class="table table-bordered table-striped table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="w-50 text-center">Datum</th>
                        <th scope="col" class="w-50 text-center">Očkováno</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in top5 %}
                    <tr>
                        <td class="text-right">{{ item.datum | format_date_wd }}</td>
                        <td class="text-right">{{ item.sum | format_number }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-warning w-100" role="alert">
                    Aktuálně nemáme žádná data. <a href="javascript:history.back()" class="alert-link">Zpět</a>.
                </div>
                {% endif %}
                <p class="card-text font-italic">5 dní s největším počtem očkovaných.</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title" data-toggle="tooltip" data-placement="bottom"
                    title="Dataset očkování, data se postupně doplňují.">Nejvýkonnější místo</h5>
                {% if top5_place %}
                <table class="table table-bordered table-striped table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">Místo</th>
                        <th scope="col" class="text-center">Očkováno</th>
                        <th scope="col" class="text-center">Datum</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in top5_place %}
                    <tr>
                        <td>{{ item.zarizeni_nazev }}</td>
                        <td class="text-right">{{ item.sum | format_number }}</td>
                        <td class="text-right">{{ item.datum | format_date_wd }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-warning w-100" role="alert">
                    Aktuálně nemáme žádná data. <a href="javascript:history.back()" class="alert-link">Zpět</a>.
                </div>
                {% endif %}
                <p class="card-text font-italic">5 míst s největším počtem očkovaných za den.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" data-toggle="tooltip" data-placement="bottom"
                    title="Dataset očkování, data se postupně doplňují.">Počty očkovaných</h5>
                {{ macros.stav_ockovani(vac_age) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}


