{% extends 'base.html' %}

{% block title %}
Statistiky |
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h3>Souhrnné statistiky očkování</h3>
    </div>
</div>

<div class="row mb-3">
    <div class="col text-justify">
        {% if vac_stats %}
        <p>
            K datu poslední aktualizace, tj. {{ last_update }}, bylo celkem naočkováno
            {{ vac_stats[0].druha | format_number }} lidí a bylo podáno {{ vac_stats[0].celkem | format_number }} dávek.
            Pro rozočkované tedy potřebujeme přibližně {{ (vac_stats[0].celkem-2*vac_stats[0].druha) | format_number }}
            dávek.
        </p>
        <h5>Nedovolené zjednodušení</h5>
        <p>
            Pokud bychom očkovali rychlostí nejrychlejšího dne včetně víkendů a očkovali nepřetržitě, pak skončíme
            (60% dospělé populace, 2 dávky) <b>{{ end_date | format_date }}</b>.
            Nicméně mnoho očkovacích center bude ještě vybudováno a dodávky vakcín se výrazně zvýší.
        </p>
        {% endif %}
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        {% if vacc_storage %}
        <table class="table table-bordered table-striped table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">Vakcína</th>
                <th scope="col" class="text-center" data-toggle="tooltip" data-placement="bottom" title="Dataset distribuce, akce příjem">Přišlo</th>
                <th scope="col" class="text-center" data-toggle="tooltip" data-placement="bottom" title="Dataset očkovaní">Vyočkováno</th>
                <th scope="col" class="text-center" data-toggle="tooltip" data-placement="bottom" title="Data o očkování přichází zpožděně">Rozdíl - přibližně k dispozici</th>
            </tr>
            </thead>
            <tbody>
            {% for item in vacc_storage %}
            <tr>
                <td>{{ item.vyrobce }}</td>
                <td class="text-right">{{ item.prijem | format_number }}</td>
                <td class="text-right">{{ item.spotreba | format_number }}</td>
                <td class="text-right">{{ item.rozdil | format_number }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning w-100" role="alert">
            Pro toto město zatím nemáme žádná data. <a href="javascript:history.back()" class="alert-link">Zpět</a>.
        </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title" data-toggle="tooltip" data-placement="bottom" title="Dataset očkování, data se postupně doplňují.">Nejvíce naočkovaných za den</h5>
                {% if top5 %}
                <table class="table table-bordered table-striped table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">Datum</th>
                        <th scope="col" class="text-center">Celkem</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in top5 %}
                    <tr>
                        <td>{{ item.datum }}</td>
                        <td class="text-right">{{ item.sum | format_number }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-warning w-100" role="alert">
                    Aktuálně nemáme žádná data. <a href="javascript:history.back()" class="alert-link">Zpět</a>.
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" data-toggle="tooltip" data-placement="bottom" title="Dataset očkování, data se postupně doplňují.">Nejvýkonnější místo</h5>
                {% if top5_place %}
                <table class="table table-bordered table-striped table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">Datum</th>
                        <th scope="col" class="text-center">Místo</th>
                        <th scope="col" class="text-center">Celkem</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in top5_place %}
                    <tr>
                        <td>{{ item.datum }}</td>
                        <td>{{ item.zarizeni_nazev }}</td>
                        <td class="text-right">{{ item.sum | format_number }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-warning w-100" role="alert">
                    Aktuálně nemáme žádná data. <a href="javascript:history.back()" class="alert-link">Zpět</a>.
                </div>
                {% endif %}
                <p class="card-text">5 míst s největším počtem očkovaných za den.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" data-toggle="tooltip" data-placement="bottom" title="Dataset očkování, data se postupně doplňují.">Obdržených dávek</h5>
                {% if vac_age %}
                <table class="table table-bordered table-striped table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">Věková skupina</th>
                        <th scope="col" class="text-center" data-toggle="tooltip" data-placement="bottom" title="Dataset očkování, zahrnuti jsou i již naočkovaní.">Dávek</th>
                        <th scope="col" class="text-center" data-toggle="tooltip" data-placement="bottom" title="Dataset očkování, ti, co dostali 2 dávky.">Očkovaných</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in vac_age %}
                    <tr>
                        <td>{{ item.vekova_skupina }}</td>
                        <td class="text-right">{{ item.sum | format_number }}</td>
                        <td class="text-right">{{ item.sum_2 | format_number }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-warning w-100" role="alert">
                    Aktuálně nemáme žádná data. <a href="javascript:history.back()" class="alert-link">Zpět</a>.
                </div>
                {% endif %}
                <p class="card-text"><i>Očkovaní dostali obě dávky.</i></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}


